<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Service Includes</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__price-options find-work__sidebar-section__wrap">
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Commercial-Use">
      <label class="custom-control-label write-a-review-label reviews-label" for="Commercial-Use">Commercial Use</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Source-File">
      <label class="custom-control-label write-a-review-label reviews-label" for="Source-File">Source File</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Print-Ready">
      <label class="custom-control-label write-a-review-label reviews-label" for="Print-Ready">Print Ready</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="High-Resolution">
      <label class="custom-control-label write-a-review-label reviews-label" for="High-Resolution">High Resolution</label>
  </div>
</div>