<main class="main-light-blue">
  <div class="dark-blue-bg-for-network" style="height: 70px;">
      <div class="background-content-wrap">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="page-title">Find the job of your dream</h1>
            <div>
                <button class="backgroundless" [routerLink]="['/jobs/company/dashboard']" >Dashboard</button>
                <button class="btn btn-primary btn-primary--high" [routerLink]="['/jobs/company/post-a-job']">
                 Post a Job
                </button>
            </div>
        </div>
    </div>
  </div>

  
 
  <div class="container jobs">
    <app-company-jobs *ngIf="isCompany"></app-company-jobs>
  </div>
  
</main>
