<div class="center-content p-0 col-12">
    <div class="general-settings-content justify-content-between p-3 col-12 ">
        <div class="general-settings-content__title col-12 p-0 mb-4">
            <h4>General Settings</h4>
        </div>
        <hr>

        <app-general-settings-input></app-general-settings-input>
      

        <hr>
        <div class="general-settings-content__group-membership-approval d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Membership approval</span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Anyone in this group
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Only admins
                    </label>
                </div>
            </div>

        </div>

        <hr>
        <div class="general-settings-content__group-membership-request d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Membership requests from business profiles</span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Allow to join a group
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Don’t allow to join a group
                    </label>
                </div>
            </div>

        </div>
        <hr>
        <div class="general-settings-content__group-posting-permission d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Posting permission</span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Anyone in the group
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Only admins
                    </label>
                </div>
            </div>

        </div>
        <hr>
        <div class="general-settings-content__group-membership-approval d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Post approval</span>
            </div>
            <div class="col-7">
                <div class="form-check custom-control custom-checkbox i-currently">
                    <input class="custom-control-input" type="checkbox" value="true" id="certification">
                    <label class="custom-control-label" for="certification"></label>
                </div>
            </div>

        </div>
        <hr>
        <div class="general-settings-content__group-membership-approval d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Request notifications</span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Receive notifications when people ask to join the group
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Don’t receive notifications for member requests and only see them when you go
                        to “Member Requests” in “Manage group”
                    </label>
                </div>
            </div>

        </div>
        <hr>
        <div class="general-settings-content__group-membership-approval d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Post approval notifications </span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Receive notifications when people ask approval post
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Don’t receive notifications for post approval and only see them when you go to
                        “Pending posts” in “Manage group”
                    </label>
                </div>
            </div>

        </div>
        <hr>
        <div class="general-settings-content__group-membership-approval d-flex justify-content-between">
            <div class="d-flex col-5">
                <span>Report notifications</span>
            </div>
            <div class="col-7">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project" type="radio" value="project">
                    <label class="custom-control-label" for="project">
                        Receive notifications when people report content
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="proj" id="project1" type="radio" value="project">
                    <label class="custom-control-label" for="project1">
                        Don’t receive notifications for post approval and only see them when you go to
                        “Pending posts” in “Manage group”
                    </label>
                </div>
            </div>
        </div>
        <hr>

    </div>


</div>