<app-clasified-ads-header [type]='isCommunity ? "community" : "sale"'></app-clasified-ads-header> 
<div class="d-flex justify-content-center">
    <div class="profile">
          <div class="mt-4">
              <div class="container-fluid p-0">
                  <div class="row">
                    <div class="col-lg-3">
                           <div class="categories side">
                               <p>Categories</p>
                               <ul class="menu">
                                   <li *ngFor="let cat of CATEGORIES">
                                       {{cat.name}}
                                   </li>
                               </ul>
                           </div>
                           <div class="sponsored slide mt-4">
                                <app-ads [isLeft]="true"></app-ads>                                 
                           </div>
                    </div>
                    <div class="col-lg-9">
                    <div class="side slider"> 
                                <app-clasified-ads-landing-slider [type]='isCommunity ? "community" : "for-sale"'></app-clasified-ads-landing-slider>
                                <div class="row" *ngIf="!isCommunity">
                                    <div class="col-lg-4 col-md-3 mt-4" *ngFor="let more of MORE_CATEGORIES">
                                            <app-categories-boxes [cat]='more'></app-categories-boxes>
                                    </div>
                               </div>

                               <div class="row" *ngIf="isCommunity">
                                   <div class="col-12">
                                       <p class="mb-1" style="color: #052337;font-weight: 700;font-size: 20px">Sponsored</p>
                                   </div>
                                    <div class="col-md-4 col-lg-3 position-relative mt-2" *ngFor="let img of community" style="height: 213px;">
                                            <img class="w-100 h-100" style="object-fit: cover" [src]="img" alt="">
                                                <div class="position-absolute top-right">
                                                        <img style="cursor: pointer" 
                                                             [src]="false ? 
                                                                    'assets/img/99.svg' : 
                                                                    'assets/img/44.svg' " 
                                                                    alt="heart">
                                                </div>  
                                                <div class="position-absolute bottom-left">
                                                    <p>some title</p>
                                                </div>
                                    </div>
                               </div>
                             
                          </div>
                      </div>
                  </div>
              </div>

              <div class="mt-2" *ngIf="!isCommunity">
                  <app-categories-boxes [cat]='FINDYOURSOMETHING["car"]'></app-categories-boxes>
              </div>

              <div *ngIf="products.length > 0 && !isCommunity">
                  <div class="new-products mt-4">
                        <h4>Products</h4>
                        <app-clasified-ads-new-products [products]='products'></app-clasified-ads-new-products>
                  </div>
              </div>

              <div class="mt-4">
                    <app-categories-boxes [cat]='FINDYOURSOMETHING["home"]'></app-categories-boxes>
              </div>

              <div class="new-products mb-4 mt-4" *ngIf="listOfNewProducts.length > 0">
                  <h4 class="mb-2">New Products</h4>
                  <div class="row">
                        <div class="col-3 mb-4" *ngFor="let box of listOfNewProducts">
                            <app-clasified-ads-box [box]='box'  (notify)='getNotified($event)'></app-clasified-ads-box>
                        </div>
                  </div>    
              </div>
          </div>            
    </div> 
</div>