<!-- Employees start -->
<div class="employees-wrap" >
      <!-- Key figures start -->
      <div class="connections-wrap" >
          <div class="section-header d-flex">
              <h1>Key Figures</h1>
          </div>
          
          <div class="section-content key-figures">
              <div class="row">
                  <div class="col-6">
                      <div class="female d-flex">
                          <img src="assets/img/8.svg" alt="female">
                          <span class="text">Female</span>
                          <span class="number">55%</span>
                      </div>
                      <div class="male d-flex">
                          <img src="assets/img/10.svg" alt="male">
                          <span class="text">Male</span>
                          <span class="number">45%</span>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="middle-age d-flex">
                          <img src="assets/img/161.svg" alt="age">
                          <span class="text">Middle age</span>
                          <span class="number">35 years</span>
                      </div>
                      <div class="average-seniority d-flex">
                          <img src="assets/img/62.svg" alt="average">
                          <span class="text">Average seniority</span>
                          <span class="number">5 years</span>
                      </div>
                  </div>
                  
                  <div class="col-6">
                      
                  </div>

                  <div class="col-6">
                          
                  </div>                              
              </div>
          </div>
      </div>
      <!-- Key figures end -->


      <!-- Connections at this company start -->
      <div class="connections-wrap" >
          <div class="section-header d-flex">
              <h1>Connections at this company <span>3</span></h1>
          </div>
          
          <div class="section-content">
              <div class="row  connections-at-this-company">
                  <div class="col-6 d-flex">
                      <img src="assets/img/profile-picture.png" alt="profile">
                      <h3>Logan Henderson</h3>
                  </div>
                  <div class="col-6 d-flex">
                      <img src="assets/img/profile-picture.png" alt="profile">
                      <h3>Logan Henderson</h3>
                  </div>
              
                  <div class="col-6 d-flex">
                      <img src="assets/img/profile-picture.png" alt="profile">
                      <h3>Logan Henderson</h3>
                  </div>

                  <div class="col-6 d-flex">
                      <img src="assets/img/profile-picture.png" alt="profile">
                      <h3>Logan Henderson</h3>
                  </div>                          
              </div>
          </div>
      </div>
      <!-- Connections at this company end -->

    <div class="section-header d-flex">
        <h1>Employees <span>39</span></h1>
    </div>
    
    <div class="section-content">
        <div class="row company-following">
            <div class="col-6">
                <div class="company-following-wrap">
                    <div class="company-following-item d-flex">
                        <img class="user-profile" src="assets/img/profile-picture.png" alt="image">
                        <div class="connection-info">
                            <h3>Joss Stone</h3>
                            <span class="mb-2">Artist / Singer <br> MTV</span>
                            <span>172 followers</span>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary py-0 px-3">Follow</button>
                </div>       
            </div>
            <div class="col-6">
                <div class="company-following-wrap">
                    <div class="company-following-item d-flex">
                        <img class="user-profile" src="assets/img/profile-picture.png" alt="image">
                        <div class="connection-info">
                            <h3>Joss Stone</h3>
                            <span class="mb-2">Artist / Singer <br> MTV</span>
                            <span>172 followers</span>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary py-0 px-3">Follow</button>
                </div>       
            </div>
            
            <div class="col-6">
                <div class="company-following-wrap">
                    <div class="company-following-item d-flex">
                        <img class="user-profile" src="assets/img/profile-picture.png" alt="image">
                        <div class="connection-info">
                            <h3>Joss Stone</h3>
                            <span class="mb-2">Artist / Singer <br> MTV</span>
                            <span>172 followers</span>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary py-0 px-3">Follow</button>
                </div>       
            </div>

            <div class="col-6">
                <div class="company-following-wrap">
                    <div class="company-following-item d-flex">
                        <img class="user-profile" src="assets/img/profile-picture.png" alt="image">
                        <div class="connection-info">
                            <h3>Joss Stone</h3>
                            <span class="mb-2">Artist / Singer <br> MTV</span>
                            <span>172 followers</span>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary py-0 px-3">Follow</button>
                </div>       
            </div>                              
        </div>
    </div>
    <button  class="show-more">Show more</button>
</div>
<!-- Employees end -->