<main>
    <div class="dark-blue-bg-for-network" style="height: 112px;">
        <div class="background-content-wrap">
          <div class="d-flex justify-content-between align-items-center">
              <h1 class="page-title">Find the job of your dream</h1>
          </div>

          <div class="row mx-0">
                <ul class="col-7">
                    <li>
                        <a [routerLink]="['my-jobs']" routerLinkActive="active">Jobs</a>
                    </li>
                    <li>
                        <a [routerLink]="['applicants']" routerLinkActive="active">Applicants</a>
                    </li>
                    <li>
                        <a [routerLink]="['saved-candidate']" routerLinkActive="active">Saved Candidate</a>
                    </li>
                    <li>
                        <a [routerLink]="['skipped-candidate']" routerLinkActive="active">Skipped Candidate</a>
                    </li>
                    <li>
                        <a [routerLink]="[careerCenterLink]" routerLinkActive="active">Career Center</a>
                    </li>
                </ul>
                <div class="offset-md-3"></div>

                <div class="col-2 d-flex justify-content-end p-0">
                    <button class="btn btn-primary btn-primary--high" [routerLink]="['/jobs/company/post-a-job']">
                        Post a Job
                    </button>
                </div>
            </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    
</main>