<div class="search-groups__sidebar-section">
    <app-search-column-header title="Degree">
        <div class="mt-2">
            <div class="search-groups__sidebar-section__delivery-time-options search-groups__sidebar-section__wrap">
                <div class="
                    custom-control 
                    custom-checkbox 
                    page-section-text-grey
                    " *ngFor="let degree of degress">
                    <input type="checkbox" [checked]="degree.isSelected" class="custom-control-input" [id]="degree.name" name="type"
                            (change)="checkDegree($event)" [value]="degree.name">
                    <label
                        class="custom-control-label" [for]="degree.name" >
                    {{ degree.name }}
                    </label>
                </div>
            </div>
            <div class="mt-2">
                <div class="input-container d-flex align-items-center">
                        <input type="text" class="form-control" id="wanted-location" placeholder="Enter degree"
                                [ngbTypeahead]="searchDegree"
                                (selectItem)='selectDegree($event)'>

                        <button class="btn backgroundless search-btn" type="submit">
                            <img src="assets/img/right-arrow.svg" class="search-groups__sidebar-section__location__img"/>
                        </button>
        
                </div>
            </div>
        </div>
    </app-search-column-header>
</div>