<div class="search-groups__sidebar-section">
    <app-search-column-header title="Experience">
        <div class="mt-2">
            <div class="search-groups__sidebar-section__delivery-time-options search-groups__sidebar-section__wrap">
                <form [formGroup]="form">
                    <div class="
                        custom-control 
                        custom-radio 
                        page-section-text-grey
                        " *ngFor="let experience of experiences">
                        <input   type="radio" class="custom-control-input" [id]="experience.id" [value]="experience.id" name="experience_level" 
                                 formControlName="experience_level">
                        <label class="custom-control-label" [for]="experience.id">
                            {{ experience.name  }}
                        </label>
                    </div>
                </form>

            </div>
        </div>
    </app-search-column-header>
</div>