<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Delivery Time</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__delivery-time-options find-work__sidebar-section__wrap">
  <div class="
      custom-control 
      custom-radio 
      page-section-text-grey
      ">
      <input type="radio" class="custom-control-input" id="24h" name="type"><label class="custom-control-label" for="24h">Up to 24 hours</label>
  </div>
  <div class="
      custom-control 
      custom-radio 
      page-section-text-grey
      ">
      <input type="radio" class="custom-control-input" id="3days" name="type"><label class="custom-control-label" for="3days">Up to 3 days</label>
  </div>
  <div class="
          custom-control 
          custom-radio 
          page-section-text-grey
          ">
      <input type="radio" class="custom-control-input" id="7days" name="type"><label class="custom-control-label" for="7days">up to 7 days</label>
  </div>
  <div class="
      custom-control 
      custom-radio 
      page-section-text-grey
      ">
      <input type="radio" class="custom-control-input" id="2weeks" name="type"><label class="custom-control-label" for="2weeks">1 - 2 weeks</label>
  </div>
  <div class="
      custom-control 
      custom-radio 
      page-section-text-grey
      ">
      <input type="radio" class="custom-control-input" id="4weeks" name="type"><label class="custom-control-label" for="4weeks">2 - 4 weeks</label>
  </div>
  <div class="
      custom-control 
      custom-radio 
      page-section-text-grey
      ">
      <input type="radio" class="custom-control-input" id="monthandmore" name="type"><label class="custom-control-label" for="monthandmore">Month and more</label>
  </div>
</div>