<div class="service-request__request-details__heading service-request-section-heading">
    <div class="service-request__content__request-details__heading__icon-wrapper">
        <img src="../assets/img/time.svg" class="service-request__content__request-details__heading__icon">
    </div>
    <h4 class="service-request__content__request-details__heading__title">Delivery Time</h4>
</div>

<div>
    <h5 class="page-section-text-blue heading-margin service-request__content__request-details__type-title">Once you place order, when would you like your service delivered? <span class="required-field-star">*</span></h5>
</div>
<div class="service-request__content__request-details__type-options--delivery-time">
    <div class="col-md-4 col-sm-6 p-0">
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="24h" name="type"><label class="custom-control-label" for="24h">Up to 24 hours</label>
        </div>
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="3days" name="type"><label class="custom-control-label" for="3days">Up to 3 days</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 p-0">
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="7days" name="type"><label class="custom-control-label" for="7days">up to 7 days</label>
        </div>
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="2weeks" name="type"><label class="custom-control-label" for="2weeks">1 - 2 weeks</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 p-0">
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="4weeks" name="type"><label class="custom-control-label" for="4weeks">2 - 4 weeks</label>
        </div>
        <div class="
            custom-control 
            custom-radio 
            service-request__content__request-details__type-options__item
            service-request__content__request-details__type-options__item--delivery-time
            ">
            <input type="radio" class="custom-control-input" id="monthandmore" name="type"><label class="custom-control-label" for="monthandmore">Month and more</label>
        </div>
    </div>
</div>
