 
  <div class="popup-content">
    <form>
      <div class="add-calendar">
        <div class="add-calendar__field">
          <label>Name</label>
          <input type="text" class="form-control calendar-input">
        </div>

        <div class="add-calendar__field">
          <label>Time zone</label>
          <select class="form-control calendar-input">
            <option>(GMT+4:00) Georgia standard time</option>
            <option>(GMT+4:00) Georgia standard time</option>
            <option>(GMT+4:00) Georgia standard time</option>
          </select>
        </div>

        <div class="add-calendar__field">
          <label>Calendar color</label>
          <div class="d-flex align-items-center">
            <div class="position-relative">
              <label for="dark-cyan" class="callendar-custom-radio-label bullet-dark-cyan with-check"></label>
              <input type="radio" class="callendar-custom-radio" id="dark-cyan" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="light-blue" class="callendar-custom-radio-label bullet-light-blue"></label>
              <input type="radio" class="callendar-custom-radio" id="light-blue" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="dark-blue" class="callendar-custom-radio-label bullet-dark-blue"></label>
              <input type="radio" class="callendar-custom-radio" id="dark-blue" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="lavender" class="callendar-custom-radio-label bullet-lavender"></label>
              <input type="radio" class="callendar-custom-radio" id="lavender" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="purple" class="callendar-custom-radio-label bullet-purple"></label>
              <input type="radio" class="callendar-custom-radio" id="purple" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="green" class="callendar-custom-radio-label bullet-green"></label>
              <input type="radio" class="callendar-custom-radio" id="green" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="yellow" class="callendar-custom-radio-label bullet-yellow"></label>
              <input type="radio" class="callendar-custom-radio" id="yellow" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="orange" class="callendar-custom-radio-label bullet-orange"></label>
              <input type="radio" class="callendar-custom-radio" id="orange" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="pink" class="callendar-custom-radio-label bullet-pink"></label>
              <input type="radio" class="callendar-custom-radio" id="pink" name="calendar-color"/>
            </div>
            <div class="position-relative">
              <label for="dark-red" class="callendar-custom-radio-label bullet-dark-red"></label>
              <input type="radio" class="callendar-custom-radio" id="dark-red" name="calendar-color"/>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-primary--high mt-0">Save</button>
        </div>
      </div>
    </form>
  </div>
 
