 
<div class="white-bg-tab">
    <div class=" services-review">
            <div class="col-xl-12 d-flex" style="height: 100%;">
              <a class="mr-2" [routerLink]='["overview"]'        routerLinkActive='activatedLink'>  Overview </a>
              <a class="ml-4" [routerLink]='["orders"]'          routerLinkActive='activatedLink'> Orders </a> 
              <a class="ml-4" [routerLink]='["sent-proposals"]'       routerLinkActive='activatedLink'> Sent Proposals </a> 
              <a class="ml-4" [routerLink]='["saved-requests"]'  routerLinkActive='activatedLink'> Saved Requests </a> 
        </div>
    </div>
</div>
 