<!-- <div class="connections-container">
        <app-network-connections [userId]="userId" *ngIf="!userId"></app-network-connections>
        <app-user-connections [getUserId] = "userId" *ngIf="userId"></app-user-connections> 

</div> -->
<!-- 
  


 <div class="connections-wrap" >
    <div class="section-header d-flex">
        <h1>Connections <span>300</span></h1>
    </div>

    <div class="section-content user-connections">
        <div class="row user-connection">
            <div class="col-6">
                <div class="connection-profile-wrap">
                    <div class="connection-profile d-flex">
                        <img src="assets/img/user_photo.png" alt="image">
                        <div class="connection-info">
                            <h3>Mason Griffin</h3>
                            <span>Product engeneer</span>
                            <span>Data analytic</span>
                            <div class="mutual-friends-count d-flex align-items-center">
                                <img src="assets/img/121.svg" alt="chain">
                                <span>10 mutual friends</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Connect</button>
                </div>
            </div>
            <div class="col-6">
                <div class="connection-profile-wrap">
                    <div class="connection-profile d-flex">
                        <img src="assets/img/user_photo.png" alt="image">
                        <div class="connection-info">
                            <h3>Mason Griffin</h3>
                            <span>Product engeneer</span>
                            <span>Data analytic</span>
                            <div class="mutual-friends-count d-flex align-items-center">
                                <img src="assets/img/121.svg" alt="chain">
                                <span>10 mutual friends</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Connect</button>
                </div>
            </div>
            <div class="col-6">
                <div class="connection-profile-wrap">
                    <div class="connection-profile d-flex">
                        <img src="assets/img/user_photo.png" alt="image">
                        <div class="connection-info">
                            <h3>Mason Griffin</h3>
                            <span>Product engeneer</span>
                            <span>Data analytic</span>
                            <div class="mutual-friends-count d-flex align-items-center">
                                <img src="assets/img/121.svg" alt="chain">
                                <span>10 mutual friends</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Connect</button>
                </div>
            </div>
            <div class="col-6">
                <div class="connection-profile-wrap">
                    <div class="connection-profile d-flex">
                        <img src="assets/img/user_photo.png" alt="image">
                        <div class="connection-info">
                            <h3>Mason Griffin</h3>
                            <span>Product engeneer</span>
                            <span>Data analytic</span>
                            <div class="mutual-friends-count d-flex align-items-center">
                                <img src="assets/img/121.svg" alt="chain">
                                <span>10 mutual friends</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Connect</button>
                </div>
            </div>
            <div class="col-6">
                <div class="connection-profile-wrap">
                    <div class="connection-profile d-flex">
                        <img src="assets/img/user_photo.png" alt="image">
                        <div class="connection-info">
                            <h3>Mason Griffin</h3>
                            <span>Product engeneer</span>
                            <span>Data analytic</span>
                            <div class="mutual-friends-count d-flex align-items-center">
                                <img src="assets/img/121.svg" alt="chain">
                                <span>10 mutual friends</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">Connect</button>
                </div>
            </div>
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>

        </div>
    </div>
    <button class="show-more">Show more</button>
</div> -->
