<!-- 
    <div class="center-content-network">
        <div class="connections-first-line">
            <form >
                <div class="custom-control custom-checkbox box">
                    <input type="checkbox" class="custom-control-input"  id="check-connections">
                    <label class="custom-control-label " for="check-connections"></label>
                </div>
            </form>

    
                <button class="unfollow" (click)="follow()" >
                    <img src="assets/img/70.svg" alt="Follow">
                    Follow
                </button>
              
            <button  class="ml-auto btn-more" [ngClass]="toggle.view.selected == 'card' ? 'blocks btn-more' : 'list btn-more'"  >
            </button>


                <div class="options blocks-option">
                    <button  >Card view</button>
                    <button  >List view</button>
                </div>

        </div>

  
            <ng-content>
 
            </ng-content>
    
    </div>
  -->