<app-shared-unlogin-header></app-shared-unlogin-header>

<div class="wrap main-light-blue" >

    <!-- Sidebar header -->
    <div class="sidenav">
        
    </div>
    <!-- End -->

    <div class="container register success" >
        <div class="row mx-0">
            <h1>WELCOME!</h1>
            <p class="grey">Your account has been successfully created</p>
            <p>Please check your email to activate your account</p>
            <div class="resend">
                <p class="grey mb-0">Didn't recieve an activation link?</p>
                <a href="" class="backgroundless">Resend</a>
            </div>
        </div>
    </div>
    
</div>
