<form  class="col-12 basic-form">
    <div class="form-group" *ngIf="featuresList">
        <p [ngClass]="{'custom-red':form.get('feature').invalid && isSubmitted}">Features</p>
        <div class="row">
            <div class=" col-6 col-md-4" *ngFor="let item of featuresList;let i = index;">
                <div class="custom-control custom-checkbox options-wrapper">
                    <input type="checkbox" 
                        [value]="item['type']"
                        (change)="selectBox($event)" 
                        name="carsFeatures" 
                        class="custom-control-input" 
                        id="carsFeatures-{{ i }}"
                        [checked]="item['isSelected']">
                    <label class="custom-control-label" for="carsFeatures-{{ i }}">
                    {{ item['text'] }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="envinronmentList">
        <p  [ngClass]="{'custom-red':form.get('feature').invalid && isSubmitted}">Environment</p>
        <div class="row">
            <div class=" col-6 col-md-4" *ngFor="let item of envinronmentList; let j = index">
                <div class="custom-control custom-checkbox options-wrapper">
                    <input type="checkbox" 
                        [value]="item['type']"
                        (change)="selectBox($event)" 
                        name="carsEnvinronment" 
                        class="custom-control-input" 
                        id="carsEnvironment-{{ j }}"
                        [checked]="item['isSelected']">
                    <label class="custom-control-label" for="carsEnvironment-{{ j }}">
                    {{ item['text'] }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>