<div class="col-12 p-0 d-flex">
    <div class="left-content col-3 mt-3 p-0">
        <div class="left-content__search col-12 p-0">
            <input type="text" class="form-control" placeholder="Search this group">
        </div>
        <div class="left-content__topics mt-3 col-12 p-3">
            <h4>Group topics</h4>
            <span>Add topics to help members find the
                    information they want</span>
            <button class="btn btn-outline-primary mt-2">Create Topics</button>
        </div>
        <div class="left-content__groups mt-3 p-3">
            <div class="left-content__groups__card mb-3">
                <div class="left-content__groups__card__title col-12 mb-3 p-0">
                    <h4>My Groups</h4>
                </div>
                <div class="d-flex row">
                    <div class="left-content__groups__card-img col-lg-4">
                        <img src="../../assets/img/services/travel.png" alt="">
                    </div>

                    <div class="left-content__groups__card-text col-lg-7">
                        <p>Travel Lovers</p>
                        <span>Travel & tourism</span>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <div class="col-6 mt-3  d-flex">
        <div class="center-content p-0 col-12">

            <div class="about-this-group col-12 p-4" style="background: white;" >
                    <div class="about-this-group__title d-flex justify-content-between  mt-3 mb-2">
                        <h4>About this group</h4>
                        <a href="#">
                            <img src="../../assets/img/19.svg" alt="">
                        </a>
                    </div>
                    <!-- If no description  -->
                    <div class="about-this-group__add mt-4 pb-3 d-flex">
                            <a href="#">
                                <img class="add mb-1" src="../../assets/img/plus-cyan.svg" alt="">
                            </a>
                            <a href="#">Add a short description or catchphrase about your group</a>
                    </div>
                    <!-- About this description content  -->
                    <div class="about-this-group__description mt-4">
                        <p>Description</p>
                        <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</span>
                    </div>
                    <div class="about-this-group__rules mt-4">
                        <p>Group Rules</p>
                        <span>Membership:
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                
                                Inappropriate submissions:
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                                
                                Please note:
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</span>
                    </div>
                    <div class="about-this-group__location mt-4">
                        <p>Location</p>
                        <div class="about-this-group__location-info d-flex">
                            <span class="about-this-group__location-info__city">Tbiliisi,</span>
                            <span class="about-this-group__location-info__country">Georgia</span>
                        </div>
                    </div>
                    <div class="about-this-group__histoy mt-4">
                        <p>History</p>
                        <span>Group created on October 23, 2018</span>
                    </div>
                    <!-- *** About this description content End *** -->
            </div>

        </div>
    </div>
