<div class="invite-friend mt-3">
        <div class="invite-friend-title col-12 mb-3">
            <h4>Invite Friend and get one month Service ad for free</h4>
        </div>
        <div class="invite-friend-description col-12">
            <p>Invite friend by email or share via social network.</p>
            <p>Your fiend registers to Raightnão and after first job done you get your gift.</p>
            <p>You can activate your ad any time you want.</p>
        </div>
        
         <div class="invite-by-email p-3 mt-4">
             <div class="invite-by-email-title">
                 <h4>Invite by email</h4>
             </div>
             <div class="invite-by-email-input d-flex">
                 <input type="text" class="form-control" placeholder="Enter Email addresses separated by comma">
                 <button class="btn btn-primary">Invite</button>
             </div>
         </div>
    
         <div class="share p-3 mt-4">
             <div class="share-title">
                 <h4>Share</h4>
             </div>
             <div class="social d-flex">
                 <div class="fb">
                     <a href="#">
                         <img src="../../assets/img/facebook.svg" alt="">
                     </a>
                 </div>
                 <div class="lnkdin">
                     <a href="#">
                         <img src="../../assets/img/linkedin.svg" alt="">
                     </a>
                 </div>
                 <div class="twt">
                     <a href="#">
                         <img src="../../assets/img/twitter.svg" alt="">
                     </a>
                 </div>
                 <div class="insta">
                     <a href="#">
                         <img src="../../assets/img/instagram.svg" alt="">
                     </a>
                 </div>
             </div>
         </div>
       
         <div class="sent-invitations p-3 mt-4">
             <div class="invitations-title">
                 <h4>Sent Invitations</h4>
             </div>
             <div class="table">
    
                    <div class="top-table mt-3 d-flex flex-lg-row flex-column">
                        <div class="email col-md-5">
                            <p>Email</p>
                        </div>
                        <div class="border-line"></div>
                        <div class="status col-md-2">
                            <p>Status</p>
                        </div>
                        <div class="border-line"></div>
                        <div class="date col-md-2">
                            <p>Date</p>
                        </div>
                        <div class="border-line"></div>
                        <div class="price col-md-2">
                            <p>Action</p>
                        </div>
    
                    </div>
                    <div class="bottom-table mt-2 d-flex flex-md-row flex-column">
                            <div class="email col-md-5 d-flex">
                                <p>amelia_stewart@zoho.com</p>                               
                                </div>
                                <div class="border-line-bottom"></div>
                                <div class="status d-flex col-md-2">
                                    <img src="../../assets/img/213.svg" alt="open">
                                    <!-- <img src="../../assets/img/162.svg" alt="sent">
                                    <img src="../../assets/img/211.svg" alt="done"> -->
                                    <p>Registered</p>
                                </div>
                                <div class="border-line-bottom"></div>
                                <div class="date col-md-2 d-flex">
                                    <p>22/03/2019</p>
                                </div>
                                <div class="border-line-bottom"></div>
                                <div class="actions col-md-2 d-flex">
                                   <button class="btn btn-primary">Activate Ad</button>
                                </div>
                               
                    </div>
                    </div>
         </div>
       
    
    
    </div>