.for-sale-wrapper {
    background: #EAEDF2;
    padding-top: 1rem;
    margin-top: -16px;
    min-height: calc(100vh - 242px);
    width: 100%;
    margin: 0px auto;
    .profile {
         max-width: 1255px;
         width: 100%;
    }
}