
<div class="my-calendars">
  <h4 class="my-calendars__title">My Calendars</h4>
  <div class="my-calendars__list">
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-dark-cyan with-check"></span>
      <span>Calendar</span>
    </div>
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-purple with-check"></span>
      <span>Personal</span>
    </div>
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-light-blue with-check"></span>
      <span>Work</span>
    </div>
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-green with-check"></span>
      <span>My Finances</span>
    </div>
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-yellow with-check"></span>
      <span>Friends</span>
    </div>
    <div class="my-calendars__list__item">
      <span class="calendar-bullet bullet-pink with-check"></span>
      <span>Birthdays</span>
    </div>
  </div>
</div>
