<app-common-header-land-pages></app-common-header-land-pages>
<main>
    <div class="dark-blue-bg-for-network">
        <div class="background-content-wrap">
            <h1>{{ 'Landing_Page.row_218' | translate }}</h1>
        </div>
    </div>
    <section class="demo_ads-grow">
        <img src="./assets/img/other-pages/ads-1.png" class="demo_ads-grow-img" alt="img">
        <div class="demo_ads-grow-cont">
            <h1 class="demo-above-title">
                {{ '654' | translate }}
            </h1>
            <div class="demo-gray-text">
                {{ '404' | translate }}
            </div>
            <div class="demo-gray-text">
                {{ '1310' | translate }}
            </div>
            <div class="demo-gray-text">
                {{ '1160' | translate }}
            </div>
            <div class="demo-gray-text">
                {{ '664' | translate }}
            </div>
            <div class="demo-gray-text">
                {{ '242' | translate }}
            </div>
        </div>
    </section>
    <section class="demo_ads-works">
        <div class="demo_ads-works-in">
            <h1 class="demo-simple-title">{{ '720' | translate }}</h1>
            <div class="demo_ads-works-stepInfo">
                <div class="demo-cyan-step">
                    <img src="./assets/img/223.svg" alt="ico">
                    <span>{{ '1353' | translate }}</span>
                </div>
                <div class="demo-gray-text">
                    {{ '1522' | translate }}
                </div>
            </div>
            <div class="demo_ads-works-cont">

                <article class="demo_ads-works-item">
                    <img src="./assets/img/224.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '205' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                        {{ '238' | translate }}
                    </div>
                </article>

                <article class="demo_ads-works-item">
                    <img src="./assets/img/225.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '263' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                        {{ '241' | translate }}
                    </div>
                </article>

                <article class="demo_ads-works-item">
                    <img src="./assets/img/226.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '266' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                        {{ '1156' | translate }}
                    </div>
                </article>

                <article class="demo_ads-works-item">
                    <img src="./assets/img/227.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '876' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                      {{ '1278' | translate }}
                    </div>
                </article>

                <article class="demo_ads-works-item">
                    <img src="./assets/img/228.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '1219' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                        {{ '1125' | translate }}
                        <br>
                    </div>
                </article>

                <article class="demo_ads-works-item">
                    <img src="./assets/img/229.svg" alt="ico">
                    <h2 class="demo-above-title">
                        {{ '1021' | translate }}
                    </h2>
                    <div class="demo-gray-text">
                        {{ '587' | translate }}
                    </div>
                </article>

            </div>
        </div>
    </section>

    <section class="demo_ads-cost">
        <img src="./assets/img/other-pages/ads-2.png" alt="img" class="demo_ads-cost-img">
        <div class="demo_ads-cost-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1354' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '699' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1096' | translate }}
            </div>
        </div>
    </section>


    <section class="demo_ads-manage">
        <div class="demo_ads-manage-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1355' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1381' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1567' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/ads-3.png" alt="img" class="demo_ads-manage-img">
    </section>



    <section class="demo-foot">
        <h1 class="demo-above-title">{{ '269' | translate }}</h1>
        <a class="btn btn-primary-demo" (click)='rederictTo()'>{{ '673' | translate }}</a>
    </section>


</main>