<div class="popup-content default-modal">
  <div class="agree-modal">
    <h2>Welcome</h2>

    <p>First and foremost, welcome to Rightnao.com !</p>

    <p>
      By using our Services, you are agreeing to all of these terms and
      conditions. Please read them carefully.
    </p>

    <p>
      These Terms of Service and Use describe the terms and conditions applicable
      to your access and use of the RightNao Cloud Platform, also accessible from
      www.rightnao.com. This document is a legally binding agreement between you
      (referred to as “you”, “your” or “user” hereinafter) and RightNao.com
      entities listed in clause 2.1 below (referred to as “we”, “our” or
      “RightNao” hereinafter).
    </p>

    <p>
      Your use of our Services is also subject to our Cookie Policy and
      our Privacy Policy, which covers how we collect, use, share, and store your
      personal information.
    </p>

    <h2>Application and Acceptance of the Terms</h2>

    <p>
      By checking the checkbox on our registration form and clicking on “Register”
      button, and accessing or using our services, you are agreeing to enter into
      a legally binding contract with RightNao (even if you are using our Services
      on behalf of a company). If you do not agree to this contract (“Terms of
      Use”, “Terms of Service” or “User Agreement”), do not click “Register” (or
      similar) and do not access or otherwise use any of our Services.
    </p>

    <p>
      If you wish to terminate this contract, you can do so at any time by
      deactivating or closing your account - a feature available in your account
      settings, under the Security & Privacy section - and will no longer be able
      to access or use our Platform or Services.
    </p>

    <h2>Service Eligibility</h2>

    <p>
      You are eligible to enter into this contract and use our “Basic” Services
      (listed below), if you are at least 13 years of age. You should also agree
      to provide access, upon request, to a legal parent or guardian, in case of
      unlawful, violent, or suspicious misconduct or behavior.
    </p>

    <p>
      The services are not for use by anyone under the age of 13. Creating an
      account on behalf of another person under the age of 16, or another user
      with false information, is a violation of our terms.
    </p>

    <p>
      If law requires that you must be older in order for RightNao to lawfully
      provide Services to you without parental consent (including using of your
      personal data) then the minimum age will be the minimum age as set by the
      law.
    </p>

    <p>
      You may not use our “Professional” Services and may not accept the Terms if
      you are not of legal age to form a binding contract with Rightnao.com or any
      other legal or non-legal entity registered on our platform. You are not
      permitted to receive any Services or Products under the laws of any
      countries / regions including the country / region in which you are resident
      or from which you use the Services. Some service providers, products or
      re-sellers may agree to enter with you in a sale agreement, however they
      should be fully aware of age, in case you are under the specified legal age.
    </p>

    <p>
      Our “Basic” Services include, Network, Interact, Maps, Play, Events and
      Other.
    </p>
    <p>
      Our “Professional” Services include, Work, Services, Products, Finance, Ads,
      and ERP.
    </p>

    <h2>Members and Visitors</h2>

    <p>
      When you register and join RightNao, you become a registered user and become
      a Member. If you have chosen not to register for our Services, you may
      access certain features as a Visitor.
    </p>

    <h2>Intellectual Property Rights</h2>

    <p>
      RightNao reserves all of its intellectual property rights in the Services.
      Using our Services does not give you any ownership or intellectual property
      rights in our Services or the content or information you access, or made
      available through our Services.
    </p>

    <p>
      You may not use content from our Services unless you obtain permission from
      its owner or are otherwise permitted by law. These terms do not grant you
      the right to use any branding or logos used in our Services. Don’t remove,
      obscure, or alter any legal notices displayed in or along with our Services.
    </p>

    <p>
      Trademarks and logos used in connection with the Services are the trademarks
      of their respective owners. RightNao, logo and other RightNao trademarks,
      service marks, graphics, and logos used for our Services are trademarks or
      registered trademarks of RightNao.
    </p>

    <p>
      We respect the intellectual property rights of others. We require that
      information posted by Members be accurate and not in violation of the
      intellectual property rights or other rights of third parties.
    </p>

    <p>
      Please find the Complaint Process to address any content posted by our
      Members.
    </p>

    <h2>
      Your License to RightNao
    </h2>

    <p>
      You own all of the content, information, feedback, and personal information
      you provide to us, but you also grant RightNao and our authorized affiliates
      a non-exclusive license to it.
    </p>

    <p>
      The following non-exclusive license grants a worldwide, transferable and
      sublicensable right to use, copy, modify, distribute, publish, and process,
      information and content that you provide through our Services and the
      services of others, without any further consent, notice and/or compensation
      to you or others.
    </p>

    <p>
      These rights are limited in the following ways:
    </p>

    <ol>
      <li>
        You can end this license for specific content by deleting such content
        from the Services, or generally by closing your account, except (a) to the
        extent you shared it with others as part of the Service and they copied,
        re-shared it or stored it
      </li>
      <li>
        We will not include your content in advertisements for the products and
        services of third parties to others without your separate consent
        (including sponsored content). However, we have the right, without payment
        to you or others, to serve ads near your content and information, and your
        social actions may be visible and included with ads, as noted in the
        Privacy Policy.
      </li>
      <li>
        We will get your consent if we want to give others the right to publish
        your content beyond the Services. However, if you choose to share your
        post as "public", we will enable a feature that allows other Members to
        embed that public post onto third-party services, and we enable search
        engines to make that public content findable though their services.
      </li>
      <li>
        While we may edit and make format changes to your content (such as
        translating it, modifying the size, layout or file type or removing
        metadata), we will not modify the meaning of your expression.
      </li>
      <li>
        Because you own your content and information and we only have
        non-exclusive rights to it, you may choose to make it available to others.
      </li>
    </ol>

    <p>
      You agree that if content includes personal data, it is subject to our
      Privacy Policy.
    </p>

    <p>
      You agree that we may access, store, process and use any information and
      personal data that you provide in accordance with the terms of the Privacy
      Policy and your choices (including settings).
    </p>

    <p>
      You agree to only provide information and content that you have the right to
      share, and that your RightNao profile will be truthful.
    </p>

    <p>
      You agree to only provide content or information that does not violate the
      law nor anyone’s rights (including intellectual property rights). You also
      agree that your profile information will be truthful. RightNao may be
      required by law to remove certain information or content in certain
      countries.
    </p>

    <h2>
      Provision & Use of Service
    </h2>

    <p>
      By using the Services, you may encounter content or information that might
      be inaccurate, incomplete, delayed, misleading, illegal, offensive or
      otherwise harmful. RightNao generally does not review content provided by
      our Members or others. You agree that we are not responsible for others’
      (including other Members’) content or information.
    </p>

    <p>
      We cannot always prevent the misuse of our Services, and you agree that we
      are not responsible for any such misuse. You also acknowledge the risk that
      you or your organization may be mistakenly associated with content about
      others when we let connections and followers know you or your organization.
    </p>

    <p>
      You are responsible for deciding if you want to access or use third-party
      apps or sites that link from our Services. If you allow a third-party app or
      site to authenticate you or connect with your RightNao account, that app or
      site can access information on RightNao related to you and your connections.
      Third-party apps and sites have their own legal terms and privacy policies,
      and you may be giving others permission to use your information in ways we
      would not. Except to the limited extent it may be required by applicable
      law, RightNao is not responsible for these other sites and apps – use these
      at your own risk. Please see our Privacy Policy.
    </p>
    <p>
      Don’t misuse our Services. For example, don’t interfere with our Services or
      try to access them using a method other than the interface and the
      instructions that we provide. You may use our Services only as permitted by
      law, including applicable export and re-export control laws and regulations.
      We may suspend or stop providing our Services to you if you do not comply
      with our terms or policies or if we are investigating suspected misconduct.
    </p>

    <p>
      Our Services display some content that is not RightNao’s. This content is
      the sole responsibility of the entity that makes it available. We may review
      content to determine whether it is illegal or violates our policies, and we
      may remove or refuse to display content that we reasonably believe violates
      our policies or the law. But that does not necessarily mean that we review
      content, so please don’t assume that we do.
    </p>

    <p>
      Some of our Services are available on mobile devices. Do not use such
      Services in a way that may harm you, put your life in danger, distracts you,
      or prevent you from obeying safety or traffic laws.
    </p>

    <p>
      RightNao.com does not provide direct services to individuals, companies,
      organizations or institutions. These services are exclusively provided by
      authorized affiliates, dealers, brokers or vendors.
    </p>

    <h2>
      Limits
    </h2>

    <p>
      We have the right to limit how you connect to, and interact with, our
      Services.
    </p>

    <p>
      RightNao reserves the right to limit the use of our Services, including the
      number of your connections and your ability to contact other Members.
      RightNao reserves the right to restrict, suspend, or terminate your account
      if we believe that you may be in breach of this Contract or law or are
      misusing the Services.
    </p>

    <h2>
      Your RightNao Account
    </h2>

    <p>
      You will have only one RightNao account, which must be in your real name.
      Creating an account for other users, with false information, or for other
      individuals, groups, companies, or organizations that are already restricted
      or banned, is a violation of our terms.
    </p>

    <p>
      You may create your own RightNao account, or your RightNao account may be
      pre-create and assigned to you by an official administrator or an authorized
      institution. If you are using an account assigned to you by an
      administrator, different or additional terms may apply and your
      administrator may be able to access or disable your account.
    </p>

    <p>
      To protect your account, keep your password private and confidential. You
      will not share an account with anyone else and will follow basic rules.
    </p>

    <p>
      If you learn of any unauthorized use of your password or account, follow
      these instructions: (1) immediately change your password (2) try to choose a
      strong and secure password; (3) try not to reuse your account password on
      third-party applications; (4) do not transfer any part of your account; (5)
      report any suspicious or unauthorized activities; (6) ultimately you can
      temporarily deactivate your account.
    </p>

    <p>
      You are responsible for the activity or anything that happens on or through
      your account unless you deactivate it, close it or report misuse.
    </p>

    <p>
      Your account belongs to you. No third party has the right to, or should have
      control or access to your personal account.
    </p>

    <h2>
      Changes and Modifications
    </h2>

    <p>
      We may modify some terms, conditions, Privacy Policy or Cookies Policies
      from time to time. If we make material changes, we will provide you notice
      through our Services, by email, or other means, to provide you the
      opportunity to review the changes before they become effective.
    </p>

    <p>
      The Terms may not otherwise be modified except in writing by an authorized
      officer of RightNao.com
    </p>

    <p>
      We may add, update or remove functionalities, features or services on our
      platform at any time. You can of course stop using our services at any time,
      should you not agree with the new or additional terms or conditions.
    </p>

    <h2>
      Service Availability
    </h2>

    <p>
      We may change, suspend or discontinue any of our Services at any time. We
      don’t promise to store or keep showing any information and content that
      you’ve posted.
    </p>

    <p>
      We may change and modify prices prospectively in our discretion. To the
      extent allowed under law, these changes may be effective upon notice
      provided to you.
    </p>

    <p>
      Should we decide to discontinue a service, functionality or feature, we will
      give you reasonable advance notice and a chance to save your date or get
      your information out of that service.
    </p>

    <h2>
      Software in our Services
    </h2>

    <p>
      Most of our Software will be automatically updated. Some software might
      require approval on your device once a new version or feature is available.
      Some Services may let you adjust your automatic update settings. I any case,
      you can check at any time the version of the software running on your
      device.
    </p>

    <p>
      RightNao gives you a personal, worldwide, royalty-free, non-assignable and
      non-exclusive license to use the software provided to you as part of the
      Services. This license is for the sole purpose of enabling you to use and
      enjoy the benefit of the Services as provided by RightNao, in the manner
      permitted by these terms.
    </p>

    <p>
      You may not copy, modify, distribute, sell, or lease any part of our
      Services or included software, nor may you reverse engineer or attempt to
      extract the source code of that software, unless laws prohibit those
      restrictions or you have our written permission.
    </p>

    <h2>
      Business uses of our Services
    </h2>

    <p>
      If you are using our Services on behalf of a business, that business must be
      aware of your actions, activities, and fully accepts these terms and
      conditions. It will hold harmless and indemnify RightNao and its affiliates,
      officers, agents, and employees from any claim, suit or action arising from
      or related to the use of the Services or violation of these terms, including
      any liability or expense arising from claims, losses, damages, suits,
      judgments, litigation costs and attorneys’ fees.
    </p>

    <h2>
      Sharing Information and Content
    </h2>

    <p>
      Our platform and Services allow you to share information, digital content or
      files. Other members, visitors or others will see it, and may copy and use
      that information.
    </p>

    <p>
      Where we have made settings available, we will honor the choices you make
      about who can see content or information (e.g., message content to your
      addressees, sharing content only to RightNao connections, restricting your
      profile visibility from search engines, or opting not to notify others of
      your RightNao profile update).
    </p>

    <p>
      For job searching activities, we will not notify your connections network or
      the public. Should you apply for a job through our Service or opt to signal
      that you are interested in a job, this information will only be shared with
      the job poster.
    </p>

    <p>
      We are not obligated to publish any information or content on our Service
      and can remove it in our sole discretion, with or without notice.
    </p>

    <h2>
      Automated Processing
    </h2>

    <p>
      We use data and information about you to make relevant suggestions to you
      and others. We will use the information and data that you provide and that
      we have about Members to make recommendations for connections, content and
      features that may be useful to you.
    </p>

    <p>
      For example, we use data and information about you to recommend you jobs,
      services or products and you to recruiters, service providers and product
      owners. Keeping your profile accurate and up-to-date helps us to make these
      recommendations more accurate and relevant.
    </p>

    <h2>
      Notifications and Messages
    </h2>

    <p>
      You agree with us providing you notices, notifications and messages through
      our web interface, Apps, and contact information. If your contact
      information is out of date, you may miss out on important notices.
    </p>

    <p>
      You agree that we will provide you notices, notification changes and
      messages within the platform, by email or mobile number. You agree to keep
      your contact information up to date.
    </p>

    <p>
      Please review your settings to control and limit messages you receive from
      us.
    </p>

    <h2>
      Payment
    </h2>

    <p>
      You’ll honor your payment obligations and you agree with us storing your
      payment information.
    </p>

    <p>
      We may store your payment method (e.g. credit card) even after it has
      expired, to avoid interruptions in the provision of your Services or other
      Services you may purchase.
    </p>

    <p>
      Note: Although at present we do not store any payment or credit card
      information, as we cannot guarantee that the information you trustfully
      provided us would 100% protected, we are already adding this clause in our
      terms of service for future implementation. You will be informed in due time
      on the date of such implementation.
    </p>

    <p>
      We are currently striving to provide the highest security standards for our
      users. We take information security, privacy and data protection extremely
      seriously.
    </p>

    <p>
      If you purchase a service, your payment method will automatically be charged
      at the start of each renewal period for the fees and taxes applicable to
      that period. To avoid future charges, please cancel before the renewal date.
    </p>

    <p>
      Your purchase may be subject to, foreign exchange fees, taxes based on the
      billing information that you provided, or differences in prices based on
      location. These additional fees and taxes may be added to your final
      payment.
    </p>

    <h2>
      We don't guarantee refunds.
    </h2>

    <p>
      If you purchase any of our paid Services, you agree to pay us the applicable
      fees and taxes and to additional terms specific to the paid Services.
      Failure to pay these fees will result in the termination of your paid
      Services.
    </p>

    <p>
      You can get a copy of your invoice through your RightNao account settings
      under the Banking > Orders section.
    </p>

    <h2>
      Termination
    </h2>

    <p>
      Both parties may terminate this Contract at any time with notice to the
      other. Upon termination, you lose the right to access our platform or use
      our Services, except as a visitor.
    </p>

    <p>
      RightNao will maintain the right to further disclose, use or re-share
      content and information that you shared through the Service to the extent
      copied or re-shared prior to termination.
    </p>

    <p>
      Any amounts owed by either party prior termination, remain owed after
      termination.
    </p>

    <h2>
      General Terms
    </h2>

    <p>
      We might provide a translation of Terms in alternative languages. However,
      you should agree that the translations are provided for convenience only and
      that the English language version will govern your uses of the Services,
      platforms or Sites.
    </p>

    <p>
      To the extent allowed by law, the English language version of this Contract
      is binding. This Contract (including additional terms that may be provided
      by us when you engage with a feature of the Services) is the only agreement
      between us regarding the Services and supersedes all prior agreements for
      the Services.
    </p>
    <p>
      If you do not comply with these terms, and we don't act to enforce a breach
      of this Contract, that does not mean that RightNao has waived its right to
      enforce this Contract or giving up any rights that we may have (such as
      taking action in the future).
    </p>

    <p>
      You may not assign or transfer this Contract (or your membership or use of
      Services) to anyone without our consent. However, you agree that RightNao
      may assign this Contract to its authorized affiliates, dealers, brokers or
      vendors that buys it without your consent.
    </p>

    <h2>
      Our Warranties and Disclaimers
    </h2>

    <p>
      We provide our Services using a reasonable level of skill and care and we
      hope that you will enjoy using them. But there are certain things that we
      don’t promise about our Services.
    </p>

    <p>
      Other than as expressly set out in these terms or additional terms, neither
      RightNao nor its affiliates, dealers, brokers, vendors, suppliers or
      distributors make any specific promises about the Services.
    </p>

    <p>
      We don’t make any commitments about the content within the Services, the
      specific functions of the Services, or their reliability, availability, or
      ability to meet your needs. We do not guarantee that the Services will
      function without interruption or errors. We provide the Services on “as is”
      and “as available” basis.
    </p>

    <p>
      Some jurisdictions provide for certain warranties. Nonetheless, we exclude
      and disclaim all implied warranties and representations of merchantability,
      fitness for a particular purpose and non-infringement.
    </p>

    <h2>
      Exclusion of Liability
    </h2>

    <p>
      These are the limits of legal liability we have to you:
    </p>

    <p>
      Unless RightNao has entered into a separate written agreement that overrides
      this contract, RightNao and its affiliates (and those that RightNao works
      with to provide the services) shall not be liable to you or others for any
      indirect, incidental, special, consequential or punitive damages, or any
      loss of data, opportunities, reputation, profits or revenues, related to the
      services (e.g. offensive or defamatory statements, down time or loss, use
      of, or changes to, your information or content).
    </p>

    <p>
      In no event shall the liability of RightNao and its affiliates (and those
      that RightNao works with to provide the services) exceed, in the aggregate
      for all claims, an amount that is the lesser of, the most recent monthly fee
      that you paid for a service, if any, or $500 USD.
    </p>

    <p>
      This limitation of liability is part of the basis of the bargain between you
      and RightNao and shall apply to all claims of liability (e.g. warranty,
      tort, negligence, contract, law) and even if RightNao or its affiliates has
      been told of the possibility of any such damage, and even if these remedies
      fail their essential purpose.
    </p>

    <p>
      Some laws do not allow the limitation or exclusion of liability, however, by
      registering, accepting our Terms & Conditions, accessing our Platform and
      using our Services, you forfeit your rights for any legal actions. We cannot
      recognize and understand the extent of, and acknowledge all laws in all
      countries and jurisdictions, thus we claim that you agree on forfeiting your
      rights to pursue any legal actions, demand any settlements or compensation
      form RightNao or any of its affiliates.
    </p>

    <p>
      Should you be aware of such laws or limitations, prior joining, or became
      aware during the use, of our platform and services, and no longer agree with
      the following Terms and Condition, we invite you to deactivate your account
      immediately, which will terminate our agreement.
    </p>

    <h2>
      How to Contact Us
    </h2>

    <p>
      For information about how to contact RightNao, please visit our Contact
      Page. You can also reach our Help Center for additional information and
      support on our Services.
    </p>

    <p>
      If you have any additional or specific questions and wish to send us a
      direct message, please contact us Online or by eMail.
    </p>
  </div>
  <div class="modal-footer pl-0 pr-0">
    <div class="mb-5 mr-auto custom-control custom-checkbox ">
      <input type="checkbox" class="custom-control-input" value="something" id="set-as-main-office" [(ngModel)]="read">
      <label for="set-as-main-office" class="custom-control-label">I Agree</label>
    </div>

    <button class="btn mt-0 mb-auto" [disabled]="!read" (click)="agree.emit(true)">Agree</button>
  </div>
</div>