<!-- Content in the center -->
<div class="col mr-3 pl-0">
    <div class="center-heading">
        <h3>People<span> {{ connListlength }} </span></h3>
        <div class="d-flex center-heading__filter-wrapper">
            <form class="d-flex" [formGroup]="searchForm">
                <input type="text" class="form-control mr-2 search" formControlName="search">
            </form>
            <button class="btn btn-primary" [routerLink]="['/search/people']">
                <img src="assets/img/105.svg" alt="">
                Filters
            </button>
        </div>
    </div>


    <div class="center-content-network">
        <div class="connections-first-line d-flex justify-content-between">
            <form [formGroup]="checkAllConnForm">
                <div class="custom-control custom-checkbox box">
                    <input type="checkbox" class="custom-control-input" formControlName="check" id="check-connections">
                    <label class="custom-control-label " for="check-connections"></label>
                </div>
            </form>

            <ng-template [ngIf]="isSelectedConn">

                <button class="unfollow" (click)="follow()">
                    <img src="assets/img/70.svg" alt="Follow">
                    Follow
                </button>

                <!-- <button class="disconnect">
                    <img src="assets/img/73.svg" alt="disconnect">
                    Disconnect
                </button> -->
            </ng-template>

            <div (appClickOutside)="toggle.main.active['f_view'] = $event">
                <button class="ml-auto" [ngClass]="toggle.view.selected == 'card' ? 'blocks ' : 'list '"
                    (click)="myToggle('f_view')">
                </button>
                <ng-template [ngIf]="toggle.main.active['f_view']">
                    <div class="options blocks-option">
                        <button (click)="sort_and_wiew($event,'view','card')">Card view</button>
                        <button (click)="sort_and_wiew($event,'view','list')">List view</button>
                    </div>
                </ng-template>
            </div>
        </div>

        <app-spinner class="loader" *ngIf="isLoaded"></app-spinner>


        <!-- card view -->
        <ng-template [ngIf]="toggle.view.selected == 'card' && !isLoaded">
            <form [formGroup]="connectionsForm">
                <div class="network-boxes-container form-row" formArrayName="checkbox">
                    <div class="col-lg-4 col-md-6"
                        [ngClass]="connectionsForm.controls.checkbox.controls[item.index].value ? 'selected' : null"
                        *ngFor="let item of connectionsList; let i = index">
                        <div class="network-box d-flex flex-column justify-content-between">
                            <div>
                                <div class="network-line-one">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [formControlName]="item.index"
                                            class="custom-control-input" [id]="'check-connection'+item.index">
                                        <label class="custom-control-label "
                                            [for]="'check-connection'+item.index"></label>
                                    </div>
                                    <button [ngbPopover]="userMore" [autoClose]="true" #popBox="ngbPopover">
                                        <img class="" src="assets/img/107.svg" alt="...">
                                    </button>
                                </div>
                                <div class="network-line-two ">
                                    <div class="options connection-option "
                                        [ngClass]="{'d-none': !popBox.isOpen() }" #userMore>
                                        <button class="message " (click)="openSmallChatBox(item.user_profile)">Message</button>
                                        <button class="save" (click)="saveToPDF(item.user_profile)">Save to PDF</button>
                                        <button class="report" (click)="open('report'  ,item.user_profile )">Report /
                                            block</button>
                                    </div>




                                    <div class="left">
                                        <img class="profile"
                                            [src]="item.user_profile.avatar == '' ? 'assets/img/124.svg' : '/file/'+item.user_profile.avatar"
                                            alt="profile">
                                    </div>
                                    <div class="right">
                                        <h4 [routerLink]="['/user/profile' , item.user_profile.url]"
                                            style="cursor: pointer;">
                                            {{ item.user_profile.firstname + ' ' + item.user_profile.lastname }} </h4>
                                        <ng-container *ngIf="item.user_profile.experiences.length > 0">
                                            <ng-container
                                                *ngIf="(item.user_profile.experiences.slice(-1)) as experience">
                                                <span> {{ experience[0].title }} </span>
                                                <span> {{ experience[0].company }} </span>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="network-line-three">
                                    <div class="d-flex mb-1" *ngIf="(item.user_profile.email) as email">
                                        <img src="assets/img/22.svg" alt="@">
                                        <span>
                                            <a style="color: inherit;" [href]="'mailto:' + email">{{ email }}</a>
                                        </span>
                                    </div>
                                    <div class="d-flex" *ngIf='(item.user_profile.phone) as phone'>
                                        <img src="assets/img/23.svg" alt="number">
                                        <span>
                                            <a style="color: inherit" [href]="'tel:' + phone">{{ phone }} </a>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="network-line-four">
                                <button class="btn btn-outline-primary" *ngIf="!item.following"
                                    (click)="follow(item)">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>


        <!-- list view -->
        <ng-template [ngIf]="toggle.view.selected == 'list'  && !isLoaded">
            <form [formGroup]="connectionsForm">
                <div class="network-boxes-container-long-view" formArrayName="checkbox">
                    <div class="network-box"
                        [ngClass]="connectionsForm.controls.checkbox.controls[item.index].value ? 'selected' : null"
                        *ngFor="let item of connectionsList; let i = index">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [formControlName]="item.index"
                                [id]="'check-network'+item.index">
                            <label class="custom-control-label " [for]="'check-network'+item.index"></label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="network-box-component-one">
                                <img class="profile"
                                    [src]="item.user_profile.avatar == '' ? 'assets/img/124.svg' : '/file/'+item.user_profile.avatar"
                                    alt="profile">
                                <div class="one-right">
                                    <h4 [routerLink]="['/user/profile' , item.user_profile.url]"
                                        style="cursor: pointer;">
                                        {{ item.user_profile.firstname + ' ' + item.user_profile.lastname }} </h4>
                                </div>
                            </div>
                            <div class="network-box-component-two">
                            <div  *ngIf="item.user_profile.experiences.length > 0">
                                <ng-container *ngIf="(item.user_profile.experiences.slice(-1)) as experience">
                                    <span> {{ experience[0].title }} </span>
                                    <span> {{ experience[0].company }} </span>
                                </ng-container>
                            </div>
                        </div>

                            <div class="network-box-component-three">
                                <div class="d-flex mb-1" *ngIf="(item.user_profile.email) as email">
                                    <img src="assets/img/22.svg" alt="@"> 
                                    <span>  
                                        <a style="color: inherit;" [href]="'mailto:' + email">{{ email }}</a>
                                    </span>
                                </div>  
                                <div class="d-flex" *ngIf='(item.user_profile.phone) as phone'>
                                    <img src="assets/img/23.svg" alt="number"> 
                                    <span>
                                        <a style="color: inherit" [href]="'tel:' + phone">{{ phone }} </a> 
                                    </span>
                                </div>
                            </div>

                            <div class="network-box-component-four">
                                <button class="btn btn-outline-primary" *ngIf="!item.following"
                                    (click)="follow(item)">Follow</button>
                            </div>
                        </div>

                        <button class="network-dots-btn" [ngbPopover]="userMore" [autoClose]="true"
                            #popBox="ngbPopover">
                            <img class="" src="assets/img/107.svg" alt="...">
                        </button>

                        <div class="options connection-option " [ngClass]="{'d-none': !popBox.isOpen() }" #userMore>
                            <button class="message " (click)="openSmallChatBox(item.user_profile)">Message</button>
                            <button class="save" (click)="saveToPDF(item.user_profile)">Save to PDF</button>
                            <button class="report" (click)="open('report'  , item.user_profile )">Report / block</button>
                        </div>

                    </div>
                </div>
            </form>
        </ng-template>



    </div>
</div>
<!-- Content in the center end -->

<!---START SAVE TO PDF -->
<div *ngIf="selectedUser">
    <app-save-to-pdf [data]="selectedUser" class="d-none">
    </app-save-to-pdf>
</div>
<!-- END SAVE TO PDF -->

<!-- Modals -->
<app-modal (closeModal)="modalType = null">
    <!-- Report -->
    <ng-container *ngIf="modalType === 'report'">
        <app-report-block-user type="user" [blockId]="selectedUser" *ngIf="selectedUser" (closeModal)="modal.close()">
        </app-report-block-user>
    </ng-container>


</app-modal>