
    <div class="urgent p-3">
            <div class="urgent__description d-flex justify-content-betwen w-100 pt-4">
                <div class="urgent__description__img">
                    <img  [src]="annousement.src ?  annousement.src : 'assets/img/Music/4.jpg' " alt="">
                </div>
                <div class="urgent__description__text ml-2">
                    <span> {{ annousement.description }} </span>
                    <p>${{ annousement.price.fix_price }}</p>
                </div>
            </div>
            <div class="urgent__ad col-12 d-flex mt-3 p-2">
                <div class="urgent__ad__title">
                    <p>Urgent Ad</p>
                </div>
                <div class="urgent__ad__price d-flex w-100 justify-content-end">
                    <p>Price: </p>
                    <p style="font-weight: bold">$285</p>
                </div>
            </div>
        
            <div class="urgent__button col-12 d-flex justify-content-end p-0">
                <button class="btn btn-primary mt-3" (click)="makeUrgent(annousement['id'])"> Pay </button>
            </div>
        </div>
     