<app-dream-job [title] = '"REAL ESTATE"'></app-dream-job>
<div class="container-fluid mt-2 pb-5">
    <div class="row">
        <div class="col-lg-2">
            <app-search-left-menu></app-search-left-menu>
        </div>
        <div class="col-lg-8">
            <app-search-bar></app-search-bar>
            <div class="mt-3">
                <app-search-results></app-search-results>      
            </div>
        </div>
        <div class="col-lg-2">    
            <app-user-profile-landing-languages></app-user-profile-landing-languages>
        </div>      
    </div>
</div>   