@import 'src/variables';
.body-input {
    display: none;
}
.body-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    label {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            transition: 0.5s;
        }
        span {
            font-size: 14px;
        }
    }
}
.body-input:checked + label > img {
    transform: rotate(360deg);
    filter: brightness(0.1);
}



.basic-form {
    & label {
        font-size: 14px;
        color: $dark-grey;
    }
    .custom-red {
        color: red;
    }
}