<!-- Content in the center -->
<div class="col" >
        <div class="center-heading">
            <h3>People <span> {{ connListlength }} </span></h3>
            <div class="d-flex center-heading__filter-wrapper">
                <form class="d-flex" [formGroup]="searchForm" *ngIf='!hideFilters' >
                    <input type="text" class="form-control mr-2 search" formControlName="search" >
                </form>
            <button class="btn btn-primary"  [routerLink]="['/search/people']" *ngIf='!hideFilters'>
                    <img src="assets/img/105.svg" alt="">
                    Filters
                </button>
            </div>
        </div>
    
 
        <div class="center-content-network">
            <div class="connections-first-line">
                <form [formGroup]="checkAllConnForm">
                    <div class="custom-control custom-checkbox box">
                        <input type="checkbox" class="custom-control-input" formControlName="check" id="check-connections">
                        <label class="custom-control-label " for="check-connections"></label>
                    </div>
                </form>
    
                <ng-template [ngIf]="isSelectedConn" >
    
                    <button class="unfollow" (click)="unfollow()" >
                        <img src="assets/img/46.svg" alt="unfollow">
                        Unfollow
                    </button>
                </ng-template>
    
                <button class="ml-auto btn-more" [ngClass]="toggle.view.selected == 'card' ? 'blocks btn-more' : 'list btn-more'" (click)="myToggle('f_view')" >
                </button>
                
                <ng-template [ngIf]="toggle.main.active['f_view']" >
                    <div class="options blocks-option">
                        <button (click)="sort_and_wiew($event,'view','card')" >Card view</button>
                        <button (click)="sort_and_wiew($event,'view','list')" >List view</button>
                    </div>
                </ng-template>

            </div>

        <!-- spinner -->
        <app-spinner class="loader" *ngIf="isLoaded"></app-spinner>
        <!-- spinner -->

            <!-- card view -->
            <ng-template [ngIf]="toggle.view.selected == 'card' && !isLoaded" >
                <form [formGroup]="connectionsForm" >
                <div class="network-boxes-container form-row" formArrayName="checkbox" >
                    <div class="col-lg-4 col-md-6"   *ngFor="let item of connectionsList; let i = index" >
                        <div class="network-box" [ngClass]="connectionsForm.controls.checkbox.controls[item.index].value ? 'selected' : null" style="min-height: 137px;">                 
                            <div class="network-line-one">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [formControlName]="item.index" class="custom-control-input" [id]="'check-connection'+item.index">
                                    <label class="custom-control-label " [for]="'check-connection'+item.index"></label>
                                </div>
                                <button class="btn-more" (click)="myToggle('dots'+item.index)" >
                                    <img class="btn-more" src="assets/img/107.svg" alt="...">
                                </button>
                            </div>
                            <div class="network-line-two">
                                <ng-template [ngIf]="toggle.main.active['dots'+item.index]" >
                                    <div class="options connection-option">
                                        <button  type="button" (click)="openSmallChatBox(item.user_profile)" class="message">Message</button>
                                        <button class="disconnect btn-more"   *ngIf="item.user_profile.friend" (click)="disconnect(item.user_profile.id,i)" >Disconnect</button>
                                        <button class="connect btn-more"      *ngIf="!item.user_profile.friend && !item.user_profile.friend_request" (click)="connect(item.user_profile.id,i)" >Connect</button>
                                        <button class="connect"      *ngIf="item.user_profile.friend_request">Request Sent</button>
                                        <button class="unfollow"     *ngIf="item.following" (click)="unfollow(item.user_profile.id , i)" >Unfollow</button>
                                        <button class="save "        (click)="saveToPDF(item.user_profile,i)">Save to PDF</button>
                                        <button class="report"       (click)="reportBlock(item.user_profile,i)">Report / block</button>
                                        <button class="info btn-more" *ngIf="item.user_profile.friend" [ngbPopover]="infoPopover">Info</button>
                                    </div>         
                                </ng-template>
                                 <!-- infoStart -->
                                <ng-template #infoPopover>
                                    <app-small-info-box   [data]='connectionsList[i].user_profile' ></app-small-info-box>            
                                </ng-template>
                                <!-- infoEnd -->
                                <div class="left">
                                    <img class="profile" [src]="item.user_profile.avatar == '' ? 'assets/img/124.svg' : '/file/'+item.user_profile.avatar" alt="profile">
                                </div>
                                <div class="right">
                                    <a [routerLink]="['/user/profile/'+item.user_profile.url]">
                                        <h4>   
                                            {{ item.user_profile.firstname + ' ' + item.user_profile.lastname }}
                                        </h4>
                                    </a>
                                <ng-container *ngIf='item.user_profile.experiences.length > 0'>
                                    <span> {{ item.user_profile.experiences[0].company }} </span>
                                    <span>  {{ item.user_profile.experiences[0].title }} </span>
                                </ng-container>
                                <div class="mt-3">
                                        <span> {{ item.user_profile.network_info.followers }} Followers </span>
                                </div>
                                </div>
                            </div>

                            <div class="network-line-four">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </ng-template>
                
            <!-- list view -->
            <ng-template [ngIf]="toggle.view.selected == 'list' && !isLoaded">
                <form [formGroup]="connectionsForm">
                <div class="network-boxes-container-long-view" formArrayName="checkbox" >
                    <div class="network-box" [ngClass]="connectionsForm.controls.checkbox.controls[item.index].value ? 'selected' : null" *ngFor="let item of connectionsList; let i = index" >
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" [formControlName]="item.index" [id]="'check-network'+item.index">
                            <label class="custom-control-label " [for]="'check-network'+item.index"></label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="network-box-component-one">
                                <img class="profile" [src]="item.user_profile.avatar == '' ? 'assets/img/124.svg' : '/file/'+item.user_profile.avatar" alt="profile">
                                <div class="one-right">
                                    <h4> {{ item.user_profile.firstname + ' ' + item.user_profile.lastname }} </h4>
                                </div>
                            </div>
    
                            <div class="network-box-component-two">

                             <ng-container *ngIf='item.user_profile.experiences.length > 0'>
                                <span > {{ item.user_profile.experiences[0].company }} </span>
                                <span> {{ item.user_profile.experiences[0].title }} </span>
                            </ng-container>
                           
                          </div>  
                            <div class="network-line-three">
                                <div class="d-flex">
                                    <span> {{ item.user_profile.network_info.followers }} Followers </span>
                                </div>
                            </div>
                            <div class="network-box-component-four">
                            </div>
                        </div>
     
                         <button class="btn-more" class="network-dots-btn" (click)="myToggle('list_dots'+item.index)" >
                               <img  class="btn-more" src="assets/img/107.svg" alt="...">
                        </button>
                        <ng-template [ngIf]="toggle.main.active['list_dots'+item.index]" >
                                <div class="options connection-option">
                                        <button  type="button" (click)="openSmallChatBox(item.user_profile)" class="message">Message</button>
                                        <button class="disconnect btn-more"   *ngIf="item.user_profile.friend" (click)="disconnect(item.user_profile.id,i)" >Disconnect</button>
                                        <button class="connect btn-more"      *ngIf="!item.user_profile.friend && !item.user_profile.friend_request" (click)="connect(item.user_profile.id,i)" >Connect</button>
                                        <button class="connect"      *ngIf="item.user_profile.friend_request">Request Sent</button>
                                        <button class="unfollow"     *ngIf="item.following" (click)="unfollow(item.user_profile.id , i)" >Unfollow</button>
                                        <button class="save "        (click)="saveToPDF(item.user_profile,i)">Save to PDF</button>
                                        <button class="report"       (click)="reportBlock(item.user_profile,i)">Report / block</button>
                                        <button class="info btn-more"  *ngIf="item.user_profile.friend" [ngbPopover]="infoPopover">Info</button>
                                </div>    
                            </ng-template>
                              <!-- infoStart -->
                              <ng-template #infoPopover>
                                    <app-small-info-box   [data]='connectionsList[i].user_profile' ></app-small-info-box>            
                            </ng-template>
                              <!-- infoEnd -->
                     </div>
                  </div>
                </form>
                    <!---START SAVE TO PDF -->
            </ng-template> 
            <div *ngIf='selectedUser'>
                    <app-save-to-pdf [data]="selectedUser" class="d-none"></app-save-to-pdf>
            </div>               
            
    </div>
    <!-- report-block -->
    <app-modal (closeModal)="modalType = null">
            <ng-container *ngIf='modalType && modalType === "reportBlock" '>
             <app-report-block-user (closeModal)='close($event)'
                                    type="user"
                                    [blockId]='reportBlockUer'
                                    (isBlocked)='isBlockedUser($event)'>
             </app-report-block-user>
           </ng-container>
     </app-modal>
<!-- report block  -->

