@import "src/_variables.scss";

.become-candidate-content{
    background-color: $white; 
    border-radius: .5rem; 
    border: 1px solid $cool-grey; 
    &__title{
        align-items: center; 
        img {
            margin-right: .6rem;
        }
    }
    h4,a{
        font-size: 1rem; 
        color: black !important; 
        text-decoration: none; 
    }
    span {
        color: $dark-grey; 
        font-size: 0.875rem;
    }
}