<!-- Content in the center -->
<div class="col" *ngIf='(invationsUser | async) as invations'>
    <div class="center-heading">
        <h3>Sent invitations <span>{{invations.amount}}</span></h3>
    </div>
    
    <div class="center-content-network" >
        <div class="network-boxes-container form-row">
          <span style="color:black ; font-size: 16px" *ngIf='invations.invitations.length === 0'>You didnot sent any Invetation </span>
            <div class="col-lg-4 col-md-6"  *ngFor='let invate of invations.invitations; trackBy:trackByFn'>
                <div class="network-box network-box-invitations">
                    <div class="network-line-two d-flex">
                        <div>
                            <h4 class="invitation-heading">{{invate.name}}</h4>
                            <span>{{invate.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<!-- Content in the center end -->

