.entered-buttons {
  button {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    background: #DCE1E6;
    margin: 10px 5px 0 0;
    font-size: 14px;
    color: #052337;
  }
}

.skill-line {
  margin-bottom: 15px;
}

.skill-line p {
  margin-bottom: 0;
}

.hand{
  margin-top: 0px;
}   
