@import "src/variables";

.form-control.calendar-input {
    border: none;
    background-color: $input-grey;
    color: $dark-grey;
    height: 32px;

    &:focus {
        box-shadow: unset;
    }

    &.title-input {
        font-size: 18px;
    }

    &:disabled {
        color: #b3b3b3;
    }
}

.calendar-repeat-modal {
    &__field {
        margin: 30px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &__title {
            color: $dark-grey;
            font-size: $medium-text;
        }
    }
}

.callendar-custom-radio-label {
    height: 32px;
    width: 32px;
    background-color: $input-grey;
    color: $dark-grey;
    border-radius: 50%;
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &--active {
        background-color: $dark-cyan;
        span {
            color: $white;
            font-weight: bold;
        }
    }
}

.callendar-custom-radio {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}