<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Tools & Technologies</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__tools-options find-work__sidebar-section__wrap">
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Vector-Art">
      <label class="custom-control-label write-a-review-label reviews-label" for="Vector-Art">Vector Art</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Cartoon">
      <label class="custom-control-label write-a-review-label reviews-label" for="Cartoon">Cartoon</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Comics">
      <label class="custom-control-label write-a-review-label reviews-label" for="Comics">Comics</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Affinity-Designer">
      <label class="custom-control-label write-a-review-label reviews-label" for="Affinity-Designer">Affinity Designer</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Inkscape">
      <label class="custom-control-label write-a-review-label reviews-label" for="Inkscape">Inkscape</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Clip-Studio-Paint">
      <label class="custom-control-label write-a-review-label reviews-label" for="Clip-Studio-Paint">Clip Studio Paint</label>
  </div>
</div>
<h4 class="find-work__sidebar-section__price-options__more mb-0">Show more</h4>