<div class="discounted p-3">
    <div class="discounted__description d-flex">
        <div class="discounted__description__img">
            <img src="assets/img/Music/4.jpg" alt="discounted-image">
        </div>
        <div class="discounted__description__text ml-3">
            <p> {{ pet.info.detail.description }} </p>
            <div class="d-flex">
                <span> {{ pet.common.price.fix_price }}{{ pet.common.price.currency }} </span>

            </div>
        </div>
    </div>

    <div class="discounted__type mt-4">
        <div class="discounted__type__title">
            <h4>Discount type</h4>
        </div>
      <form action="">
          <div class="discounted__type__radio d-flex col-md-6 justify-content-between pl-0 ">
              <div class="discounted__type__radio__percentage d-flex align-items-center ">
                  <input class="mr-3" type="radio" name="amount" id="percentage" value="percentage-amount">
                  <label for="percentage">Percentage</label>
              </div>
              <div class="discounted__type__radio__percentage d-flex align-items-center">
                  <input class="mr-3" type="radio" name="amount" id="fixed-amount" value="fixed-amount">
                  <label for="fixed-amount">Fixed amount</label>
              </div>
          </div>
          <div class="discounted__type__radio__price d-flex mt-2">
              <div class="discounted__type__radio__price__price col-md-5">
                  <input type="text" class="form-control" placeholder="0.00">
              </div>
              <div class="discounted__type__radio__currency col-md-2 d-flex justify-content-center align-items-center p-0">
                 <span>USD</span>
              </div>
          </div>
      </form>
    </div>

    <div class="discounted__button col-12 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="save()">Save</button>
    </div>

</div>