@import "../../../variables";

.forgot-password-heading {
    margin-bottom: 24px;
}

.form-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 12px 0 2.5rem 0;
    .custom-control{
        margin-top: .5rem;
        color: $dark-grey;
        font-size: 14px;
    }
}

.email-heading {
    margin-bottom: 24px;
}

.forgot-password-email-input {
    margin-left: -5px;
}