
<div class="wrap main-light-blue">

    <div class="container register forgot-pass">
        <div class="row mx-0">
            <h1 class="forgot-password-heading">Get Sign In Info</h1>
            
            <form  class="w-100" [formGroup]="forgetpasswordForm"  >
                <h2>What do you want to do ?</h2>
                <div class="form-group  form-column">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="username" value="username"  name="recoverType" formControlName="recoverType">  
                        <label for="username" class="custom-control-label">Get Username</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="password" value="password"  name="recoverType" formControlName="recoverType">  
                        <label for="password" class="custom-control-label"> Reset Password </label>
                    </div>   
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="all" value="all"  name="recoverType" formControlName="recoverType">  
                        <label for="all" class="custom-control-label">Get Username and Reset Password </label>
                    </div>
                </div>
                <h2 class="email-heading">Please enter your email</h2>
                <div class="form-group forgot-password-email-input">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                </div>

                <p class="err_mssg_forms_k" *ngIf="error_server != '' " ><strong> {{ error_server }}</strong></p>
                <p class="succ_mssg_forms_k" *ngIf="sucess_msg != '' " > {{ sucess_msg }} </p>

                <button type="submit" class="fingerprint align-self-end" (click)="onSubmit()" ></button>
            </form>
        </div>
    </div>     
        
</div>



        