<app-common-header-land-pages></app-common-header-land-pages>
<main>
    <div class="dark-blue-bg-for-network">
        <div class="background-content-wrap">
            <h1>Messaging</h1>
        </div>
    </div>


    <section class="demo_sms-secure">
        <div class="demo_sms-secure-cont">
            <h1 class="demo-above-title">{{ '1221' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1015' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/messaging_1.png" class="demo_sms-secure-img" alt="img">
    </section>

    <section class="demo_sms-repl">
        <img src="./assets/img/other-pages/messaging_2.png" class="demo_sms-repl-img" alt="img">
        <div class="demo_sms-repl-cont">
            <h1 class="demo-above-title">{{ '270' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1243' | translate }}
            </div>
            <h2 class="demo-above-title">{{ '29' | translate }}</h2>
            <div class="demo-gray-text">
                {{ '835' | translate }}
            </div>
        </div>
    </section>

    <section class="demo_sms-group">
        <div class="demo_sms-group-cont">
            <h1 class="demo-above-title">{{ '267' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1593' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/messaging_3.png" class="demo_sms-group-img" alt="img">
    </section>

    <section class="demo_sms-spons">
        <img src="./assets/img/other-pages/messaging_4.png" class="demo_sms-spons-img" alt="img">
        <div class="demo_sms-spons-cont">
            <h1 class="demo-above-title">{{ '1453' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1279' | translate }}
            </div>
        </div>
    </section>

    <section class="demo-foot">
        <h1 class="demo-above-title">{{ '268' | translate }}</h1>
        <a class="btn btn-primary-demo" (click)='rederictTo()'>{{ '673' | translate }}</a>
    </section>

</main>