@import "src/_variables.scss";

.register-business-content{
    background-color: $white; 
    border-radius: .5rem; 
    border: 1px solid $cool-grey; 
    &__title{
        align-items: center; 
        img {
            margin-right: .6rem;
        }
    }
    h4{
        font-size: 1rem; 
    }
    span {
        color: $dark-grey; 
        font-size: 0.875rem;
    }
}