.estate-btn {
    label {
        width: 65px;
        cursor: pointer;
    }
}
.selected-estate-btn {
    background: red;
}
.type-of-home {
    label {
        color: #808080;
    }
}
.invalid-custom {
    color: red;
}