<div class="manage-services-header d-flex">
    <div class="container" style="max-width: 1257px;">
        <div class="d-flex justify-content-between col-lg-6">
            <div class="manage-services-header__item">
                <a [routerLink] = "[ 'manage/my-requests' ]" routerLinkActive="active">My Requests</a>
            </div>
            <div class="manage-services-header__item">
                <a [routerLink] = "[ 'manage/orders' ]" routerLinkActive="active">Orders</a>
            </div>
            <div class="manage-services-header__item">
                <a [routerLink] = "[ 'manage/proposals' ]" routerLinkActive="active">Proposals</a>
            </div>
            <div class="manage-services-header__item">
                <a [routerLink] = "[ 'manage/reviews' ]" routerLinkActive="active">Reviews</a>
            </div>
            <div class="manage-services-header__item">
                <a [routerLink] = "[ 'manage/saved-services' ]" routerLinkActive="active">Saved Services</a>
            </div>
        </div>
    </div>
</div>