<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Price</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__price-options find-work__sidebar-section__wrap">
  <div >
      <div class="
          custom-control 
          custom-radio 
          page-section-text-grey
          ">
          <input type="radio" class="custom-control-input" id="fixedprice" name="type"><label class="custom-control-label" for="fixedprice">Fixed price</label>
      </div>
      <div class="
          custom-control 
          custom-radio 
          page-section-text-grey
          ">
          <input type="radio" class="custom-control-input" id="hourly-price" name="type"><label class="custom-control-label" for="hourly-price">Hourly</label>
      </div>
      <div class="
              custom-control 
              custom-radio 
              page-section-text-grey
              ">
          <input type="radio" class="custom-control-input" id="negotiable" name="type"><label class="custom-control-label" for="negotiable">Price Negotiable</label>
      </div>
      <div class="d-flex align-items-center mt-2">
          <div class="mr-1">
              <input type="text" placeholder="$ Min" class="form-control">
          </div>
          <div class="ml-1">
              <input type="text" placeholder="$ Max" class="form-control">
          </div>
          <div class="mt-0">
              <img src="../assets/img/147.svg" class="find-work__sidebar-section__location__img"/>
          </div>
      </div>
      <h4 class="find-work__sidebar-section__price-options__more">Change Currency</h4>
      <div class="d-flex align-items-center">
          <div class="mt-2 find-work__sidebar-section__one-line-input">
              <select class="form-control">
                  <option>USD</option>
                  <option>GEL</option>
              </select>
          </div>
          <div class="mt-2">
              <img src="../assets/img/147.svg" class="find-work__sidebar-section__location__img"/>
          </div>
      </div>
  </div>
</div>