<div class="event-popover">
  <div>
    <div class="event-popover__heading position-relative">
      <span class="event-popover__heading__event-bullet bullet-light-blue"></span>
      <div>
        <h4 class="event-popover__heading__title">Projects Planning</h4>
        <span class="event-popover__heading__date">Wednesday, September 18, 2019 · 11:00 - 12:00 am</span>
      </div>
      <button class="btn close-btn"></button>
    </div>

    <div class="d-flex align-items-start">
      <div class="event-popover__heading__icon-wrap">
        <span class="event-popover__heading__icon event-popover__heading__location-icon"></span>
      </div>
      <span class="event-popover__heading__date">3 meeting room</span>
    </div>

    <div class="d-flex">
      <div class="event-popover__heading__icon-wrap">
        <span class="event-popover__heading__icon event-popover__heading__people-icon"></span>
      </div>
      <div>
        <span class="event-popover__heading__date">15 invited attendees  ·  12 yes, 2 no, 1 maybe</span>

        <div class="event-popover__attendees">

          <div class="d-flex align-items-start event-popover__attendees__item">
            <div class="event-popover__attendees__item__img"> 
              <img src="../../../../../assets/img/user_photo.png"/>
              <span class="event-popover__attendees__item__icon going"></span>
            </div>
            <div class="event-popover__attendees__item__info">
              <h4>Maria Domingez</h4>
              <span>Organizer</span>
            </div>
          </div>

          <div class="d-flex align-items-start event-popover__attendees__item">
            <div class="event-popover__attendees__item__img"> 
              <img src="../../../../../assets/img/user_photo.png"/>
              <span class="event-popover__attendees__item__icon maybe"></span>
            </div>
            <div class="event-popover__attendees__item__info">
              <h4>Amelia Bannett</h4>
              <!-- <span>Organizer</span> -->
            </div>
          </div>

          <div class="d-flex align-items-start event-popover__attendees__item">
            <div class="event-popover__attendees__item__img"> 
              <img src="../../../../../assets/img/user_photo.png"/>
              <span class="event-popover__attendees__item__icon going"></span>
            </div>
            <div class="event-popover__attendees__item__info">
              <h4>Anastasia Huffington</h4>
              <!-- <span>Organizer</span> -->
            </div>
          </div>

          <div class="d-flex align-items-start event-popover__attendees__item">
            <div class="event-popover__attendees__item__img"> 
              <img src="../../../../../assets/img/user_photo.png"/>
              <span class="event-popover__attendees__item__icon going"></span>
            </div>
            <div class="event-popover__attendees__item__info">
              <h4>Kevin Garner</h4>
              <!-- <span>Organizer</span> -->
            </div>
          </div>

          <div class="d-flex align-items-start event-popover__attendees__item">
            <div class="event-popover__attendees__item__img"> 
              <img src="../../../../../assets/img/user_photo.png"/>
              <span class="event-popover__attendees__item__icon not-going"></span>
            </div>
            <div class="event-popover__attendees__item__info">
              <h4>Maria Domingez</h4>
              <!-- <span>Organizer</span> -->
            </div>
          </div>

          <button class="backgroundless px-0 pt-0">Show more</button>
        </div>
      </div>
    </div>

    <div>
      <!--Personal modifications heading-->
      <!-- <div class="event-popover__footer">
        <h4 class="publish-event-popover__field__title ml-0">Personal modifications</h4>
      </div> -->

      <div class="d-flex align-items-start">
        <div class="event-popover__heading__icon-wrap">
          <span class="event-popover__heading__icon event-popover__heading__reminder-icon"></span>
        </div>
        <span class="event-popover__heading__date">30 Minutes before</span>
      </div>

      <div class="d-flex align-items-center event-popover__host">
        <div class="event-popover__host__img">
          <img src="../../../../../assets/img/user_photo.png"/>
        </div>
        <div>
          <span>Anastasia Huffington</span>
        </div>
      </div>
  
      <div class="d-flex align-items-start">
        <div class="event-popover__heading__icon-wrap">
          <span class="event-popover__heading__icon event-popover__heading__topics-icon"></span>
        </div>
        <div class="event-popover__topics">
          <span class="event-popover__heading__date mb-0">Topics to discuss:</span>
          <ul class="event-popover__topics__list">
            <li class="event-popover__topics__list__item">Business goals & Testing ideas</li>
            <li class="event-popover__topics__list__item">UI/UX research</li>
            <li class="event-popover__topics__list__item">Nemo enim ipsam voluptatem quia voluptas sit sed
                odit aut fugit, sed quia consequuntur magni
            </li>
            <li class="event-popover__topics__list__item">Ratione voluptatem sequi nesciunt</li>
          </ul>
        </div>
      </div>
    </div>
    

    <!--Personal modifications-->

    <!-- <div class="event-popover__personal-modifications event-popover__footer">
      <div class="event-popover__field row align-items-center mb-2">
        <div class="col-5 d-flex align-items-center">
          <div class="event-popover__field__icon-wrap mr-2">
            <img src="../../../../../assets/img/621.svg"/>
          </div>
          <div class="col p-0">
            <div ngbDropdown autoClose="outside" placement="bottom-left" class="event-popover-dropdown">
              <div ngbDropdownToggle class="event-popover-dropdown__toggle event-popover-dropdown__toggle--grey">
                <span class="event-popover-dropdown__toggle__calendar-bullet bullet-purple"></span><span>Personal</span>
              </div>
              <div ngbDropdownMenu class="event-popover-dropdown__menu event-popover-dropdown__menu--full-width mt-2">
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-purple"></span>
                  <span class="ml-1">Personal</span>
                </div>
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-light-blue"></span>
                  <span class="ml-1">Work</span>
                </div>
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-green"></span>
                  <span class="ml-1">My Finances</span>
                </div>
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-yellow"></span>
                  <span class="ml-1">Friends</span>
                </div>
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-pink"></span>
                  <span class="ml-1">Birthdays</span>
                </div>
                <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                  <span class="event-popover-dropdown__toggle__calendar-bullet bullet-lavender"></span>
                  <span class="ml-1">Holidays</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col-4"></div>
      </div>

      <div class="event-popover__field d-flex align-items-center">
        <div class="d-flex align-items-start">
          <div class="event-popover__field__icon-wrap mr-2">
            <img src="../../../../../assets/img/629.svg"/>
          </div>
          <div class="col-12 p-0">
            <div class="mb-2">
              <div ngbDropdown autoClose="outside" placement="bottom-left" class="event-popover-dropdown">
                <div ngbDropdownToggle class="event-popover-dropdown__toggle event-popover-dropdown__toggle--grey">
                  <span>30 minutes before</span>
                </div>
                <div ngbDropdownMenu class="event-popover-dropdown__menu event-popover-dropdown__menu--full-width mt-2">
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">At time of event</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">5 minutes before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">15 minutes before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">30 minutes before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">1 hour before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">2 hours before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">12 hours before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">1 day before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn">
                    <span class="ml-1">1 week before</span>
                  </div>
                  <div class="btn d-flex align-items-center event-popover-dropdown__menu__btn" (click)="reminder = 'custom'">
                    <span class="ml-1">Custom</span>
                  </div>
                </div>
              </div>
            </div>
            <div><span>Add reminder</span></div>
          </div>
        </div>
      </div>

      <div class="event-popover__field row align-items-center mt-2">
        <div class="col d-flex align-items-start">
          <div class="event-popover__field__icon-wrap mr-2">
            <img src="../../../../../assets/img/630.svg"/>
          </div>
          <div class="col p-0">
            <textarea class="form-control calendar-input" placeholder="Add a note"></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-primary btn-primary--high mt-3">Save</button>
      </div>
    </div> -->

    <!--Invitation answer options options-->

    <!-- <div class="event-popover__poll-options event-popover__footer">
      <div class="d-flex align-items-center">
        <div class="event-popover__poll-options__item">
          <img src="../../../../../assets/img/632.svg"/>
          <span>Yes</span>
        </div>
        <div class="event-popover__poll-options__item">
          <img src="../../../../../assets/img/633.svg"/>
          <span>No</span>
        </div>
        <div class="event-popover__poll-options__item">
          <img src="../../../../../assets/img/634.svg"/>
          <span>Maybe</span>
        </div>
      </div>
    </div> -->

    <footer class="event-popover__footer d-flex align-items-center justify-content-between">
      <div>
        <button class="backgroundless p-0">Yes, I’ll attend</button>
      </div>
      <div class="event-popover__footer__options">
        <div ngbDropdown autoClose="outside" [placement]='["bottom-right", "top-right"]' class="event-popover-dropdown without-arrow">
          <button class="backgroundless py-0 event-popover__footer__options__edit event-popover-dropdown__toggle" ngbDropdownToggle> 
          </button>
          <div ngbDropdownMenu class="event-popover-dropdown__menu mt-2">
            <div class="btn event-popover-dropdown__menu__btn"><span>This event</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>All events in this series</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>This and future events</span></div>
          </div>
        </div>
        <div ngbDropdown autoClose="outside" [placement]='["bottom-right", "top-right"]' class="event-popover-dropdown without-arrow">
          <button class="backgroundless py-0 event-popover__footer__options__delete event-popover-dropdown__toggle" ngbDropdownToggle> 
          </button>
          <div ngbDropdownMenu class="event-popover-dropdown__menu mt-2">
            <div class="btn event-popover-dropdown__menu__btn"><span>This event</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>All events in this series</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>This and future events</span></div>
          </div>
        </div>
        <button class="backgroundless py-0 event-popover__footer__options__notif"
        [ngbPopover]="sendReminder" 
        [autoClose]="'outside'" 
        container="body" 
        [placement]="['left', 'left-bottom']" 
        popoverClass="task-popover-container"
        > 
        </button>

        <div ngbDropdown autoClose="false"  [placement]='["bottom-right", "top-right"]' class="event-popover-dropdown without-arrow">
          <button class="backgroundless py-0 event-popover__footer__options__more event-popover-dropdown__toggle" ngbDropdownToggle> 
          </button>
          <div ngbDropdownMenu class="event-popover-dropdown__menu mt-2">
            <div class="btn event-popover-dropdown__menu__btn"><span>Print</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>Duplicate</span></div>
            <div class="btn event-popover-dropdown__menu__btn"
              [ngbPopover]="publish" 
              [autoClose]="'outside'" 
              container="body" 
              [placement]="['left', 'left-bottom']" 
              popoverClass="task-popover-container"
            ><span>Publish event</span></div>
            <div class="btn event-popover-dropdown__menu__btn"
              [ngbPopover]="changeOwner" 
              [autoClose]="'outside'" 
              container="body" 
              [placement]="['left', 'left-bottom']" 
              popoverClass="task-popover-container"
            ><span>Change owner </span></div>
          </div>
        </div>
      </div>
    </footer>

    <!--Without delete and reminder icon-->

    <!-- <footer class="event-popover__footer d-flex align-items-center justify-content-between">
      <div>
        <button class="backgroundless p-0">Yes, I’ll attend</button>
      </div>
      <div class="event-popover__footer__options">
        <button class="backgroundless py-0 event-popover__footer__options__edit"> 
        </button>
        <div ngbDropdown autoClose="false"  [placement]='["bottom-right", "top-right"]' class="event-popover-dropdown without-arrow">
          <button class="backgroundless py-0 event-popover__footer__options__more event-popover-dropdown__toggle" ngbDropdownToggle> 
          </button>
          <div ngbDropdownMenu class="event-popover-dropdown__menu mt-2">
            <div class="btn event-popover-dropdown__menu__btn"><span>Print</span></div>
            <div class="btn event-popover-dropdown__menu__btn"><span>Duplicate</span></div>
            <div class="btn event-popover-dropdown__menu__btn"
              [ngbPopover]="publish" 
              [autoClose]="'outside'" 
              container="body" 
              [placement]="['left', 'left-bottom']" 
              popoverClass="task-popover-container"
            ><span>Publish event</span></div>
            <div class="btn event-popover-dropdown__menu__btn"
              [ngbPopover]="changeOwner" 
              [autoClose]="'outside'" 
              container="body" 
              [placement]="['left', 'left-bottom']" 
              popoverClass="task-popover-container"
            ><span>Change owner </span></div>
          </div>
        </div>
      </div>
    </footer> -->
  </div>
</div>

<ng-template #sendReminder>
  <div class="send-reminder-popover">
    <div class="event-popover__heading position-relative">
      <div>
        <h4 class="event-popover__heading__title">Send reminder to attendees</h4>
      </div>
    </div>
    <div class="send-reminder-popover__field">
      <h4 class="send-reminder-popover__field__title">Send</h4>
      <div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="messaging" type="checkbox">
          <label class="custom-control-label event-popover-dropdown__menu__checkbox-label" for="messaging">Messaging</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="email" type="checkbox">
          <label class="custom-control-label add-event-dropdown__menu__checkbox-label" for="email">Email</label>
        </div>
      </div>
    </div>

    <div class="send-reminder-popover__field">
      <h4 class="send-reminder-popover__field__title">Before</h4>
      <div>
        <div class="col-7 mb-3">
          <div class="row">
            <div class="col-3 p-0">
              <input type="text" class="form-control calendar-input" placeholder="1"/>
            </div>
            <div class="col-9">
              <select class="form-control calendar-input">
                <option>hour</option>
              </select>
            </div>
          </div>
        </div>
        <div>
        <textarea class="form-control calendar-input" placeholder="Enter reminder text"></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary btn-primary--high">Send</button>
    </div>
  </div>
</ng-template>

<ng-template #publish>
  <div class="publish-event-popover">
    <div class="event-popover__heading position-relative">
      <div>
        <h4 class="event-popover__heading__title">Publish event</h4>
      </div>
    </div>

    <div class="publish-event-popover__heading position-relative mt-4">
      <span class="publish-event-popover__heading__event-bullet bullet-light-blue"></span>
      <div>
        <h4 class="publish-event-popover__heading__title">Projects Planning</h4>
        <span class="publish-event-popover__heading__date">Wednesday, September 18, 2019 · 11:00 - 12:00 am</span>
      </div>
    </div>

    <div class="publish-event-popover__field">
      <h4 class="publish-event-popover__field__title">
        HTML code
      </h4>
      <div class="d-flex align-items-center">
        <input type="text" class="form-control calendar-input"/>
        <button class="backgroundless">Copy</button>
      </div>
    </div>

    <div class="publish-event-popover__field mt-3">
      <h4 class="publish-event-popover__field__title">
        Link to event
      </h4>
      <div class="d-flex align-items-center">
        <input type="text" class="form-control calendar-input"/>
        <button class="backgroundless">Copy</button>
      </div>
    </div>


  </div>
</ng-template>

<ng-template #changeOwner>
    <div class="change-owner-popover">
      <div class="event-popover__heading position-relative">
        <div>
          <h4 class="event-popover__heading__title">Change owner</h4>
          <span class="publish-event-popover__heading__date">You can give ownership only to invited attendees</span>
        </div>
      </div>
  
      <div class="publish-event-popover__heading position-relative publish-event-popover__field">
        <span class="publish-event-popover__heading__event-bullet bullet-light-blue"></span>
        <div>
          <h4 class="publish-event-popover__heading__title">Projects Planning</h4>
          <span class="publish-event-popover__heading__date">Wednesday, September 18, 2019 · 11:00 - 12:00 am</span>
        </div>
      </div>
  
      <div class="publish-event-popover__field mb-3">
        <div class="d-flex align-items-center">
          <input type="text" class="form-control calendar-input" placeholder="New owner"/>
        </div>
      </div>
  
      <div class="publish-event-popover__field mt-3">
        <div class="d-flex align-items-center">
          <textarea class="form-control calendar-input" placeholder="Enter message "></textarea>
        </div>
      </div>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-primary--high">Send</button>
      </div>
    </div>
</ng-template>