<div class="info-wrapper">
        <a (click) = "close()" >&#10005;</a>
        <div class="info-header row">
            <div class="info-header-left col-12 col-sm-6">
                <p class="title">Transaction</p>
                <p>Date</p>
                <p>Document</p>
            </div>
            <div class="info-header-right col-12 col-sm-6"> 
                <div>
                    <p>Right nao</p>
                    <p>35/37 Shartava street</p>
                    <p>0160, Tbilisi, georgia</p>
                    <p>VAT: 45876554213</p>
                </div>
                <img src="assets/img/77.svg" alt="">
            </div>
        </div>
        <div class="info-section">
            <p class="info-section-title">Transaction Details</p>
                <div class="row">
                    <p class="col-3">Amount</p>
                    <p class="col-9">Lorem ipsum dolor</p>
                </div>
                <div class="row">
                    <p class="col-3">Description</p>
                    <p class="col-9">Lorem ipsum dolor sit</p>
                </div>
        </div>
        <div class="info-section">
                <p class="info-section-title">Sender.</p>
                    <div class="row">
                        <p class="col-3">Name</p>
                        <p class="col-9">Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                    <div class="row">
                        <p class="col-3">Account</p>
                        <p class="col-9">Lorem ipsum dolor</p>
                    </div>
            </div>
            <div class="info-section">
                    <p class="info-section-title">Receiver</p>
                        <div class="row">
                            <p class="col-3">Name</p>
                            <p class="col-9">Lorem ipsum dolor</p>
                        </div>
                        <div class="row">
                            <p class="col-3">Account</p>
                            <p class="col-9">Lorem ipsum</p>
                        </div>
                        <div class="row">
                                <p class="col-3">Operation code</p>
                                <p class="col-9">Lorem ipsum</p>
                        </div>
            </div>
            <div class="d-flex justify-content-end"> <button class=" btn backgroundless">Dowload</button> <button class="btn btn-primary">Print</button></div>
    </div>