<div class="loader-box">

    <div class="loader-cube-outer">
        <div class="loader-cube">

            <div class="LC-top">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>
            <div class="LC-bottom">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>
            <div class="LC-left">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>
            <div class="LC-right">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>
            <div class="LC-front">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>
            <div class="LC-back">
                <div class="LC-B-angle">
                    <div class="LC-S-angle"></div>
                </div>
            </div>

        </div>
    </div>


</div>
