.custom-control.custom-checkbox .custom-control-label::before {
    top: 15px;
}


.custom-control-label::after {
    top: 15px !important;
}

.options-wrapper {
    overflow: hidden;
}

// .custom-control-label {
//     white-space: nowrap;
// }
.foot-btn {
     border-top: unset !important;
     background: white;
}