<form [formGroup]="location">

<div class="service-request__request-details__heading service-request-section-heading">
    <div class="service-request__content__request-details__heading__icon-wrapper">
        <img src="../../../assets/img/60.svg" class="service-request__content__request-details__heading__icon">
    </div>
    <h4 class="service-request__content__request-details__heading__title">Location</h4>
</div>

<div class="service-request__content__request-details__type">
    <div>
        <h5 class="page-section-text-blue heading-margin service-request__content__request-details__type-title">Work Location <span class="required-field-star">*</span></h5>
    </div>
    <div class="col-5 pl-0">
        <select class="form-control" formControlName="isRemote">
                <option value="Remote_only"  value="Remote_only">Remotely (Anywhere)</option>
                <option value="On_Site_Work" value="On_Site_Work">On-site</option>
        </select>
    </div>

  <ng-container *ngIf="locatCtrls.isRemote.value === 'On_Site_Work'">
    <div class="service-request__content__budget__amount">
            <div class="service-request__content__budget__amount-input d-flex">
                <div class="col-6 pl-0">
                    <input type="text" placeholder="Enter Country" class="form-control">
                </div>
                <div class="col-6 pl-0">
                    <input type="text" placeholder="Enter City" class="form-control">
                </div>
            </div>
    </div>
  </ng-container>
</div>
</form>