 
.service-box {
     border: 1px solid #e6e6e6;    
     border-radius: 4px;
     padding: 20px;   
     h5 {
        font-weight: 400;
     }
     .section-two {
         span {
             color: #808080;
             font-size: 14px;
         }
     }

}