@import "src/variables";

.dropdown-menu {
  min-width: 16rem;
}
.header__search {

  .search-bar-ads {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      background-image: url("../../../../../../assets/img/208.svg");
      right: 20px;
      top: 11px;
      background-repeat: no-repeat;
    }
  }
  .drop-down {
    button {
      color: $dark-blue;
    }
    &::after {
      content: "";
      display: block;
      height: 30px;
      position: absolute;
      background: #c4c4c4;
      width: 2px;
      top: 3px;
      right: 0px;
      &::after {
        content: "▾";
        display: block;
      }
    }

    .property-types {
      border: 1px solid white;
      background-color: white;
      z-index: 3;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      position: absolute;
      top: 2.75rem;
      width: 100%;

      ul {
        list-style: none;
        padding: 1rem;
        text-align: left;

        li {
          font-size: 0.875rem;
          color: $dark-grey;
          cursor: pointer;
          padding-top: 0.5rem;
        }
      }
    }
  }
}
.header-search-container {
  background-color: white;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0px;
  height: 143px;
  width: 100%;
  left: 0px   ;
};
.profile {
  max-width: 1255px;
  width: 100%;
}

.left-side {
  position: relative;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 37.5px;
  width: 157px; 
}