<div class="popup-content">
  <div class="timezone-modal">
    <div>
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" id="separate-timezones" type="checkbox">
        <label class="custom-control-label add-event-dropdown__menu__checkbox-label" for="separate-timezones">Use separate start and end time zones</label>
      </div>
    </div>
    <div class="my-3">
      <select class="form-control calendar-input">
        <option>(GMT+4:00) Georgia standard time</option>
        <option>2</option>
      </select>
    </div>

    <div class="my-3">
      <select class="form-control calendar-input">
        <option>(GMT+4:00) Georgia standard time</option>
        <option>2</option>
      </select>
    </div>

    <div class="d-flex justify-content-end">
      <button class="backgroundless">Remove time zone</button>
      <button class="btn btn-primary btn-primary--high">Done</button>
    </div>
  </div>
</div>
