<div class="calendar-event-card event-yellow">
  <div class="d-flex justify-content-between">
    <h4 class="calendar-event-card__title">Yoga class</h4>
    <img src="../../../../../../assets/img/614.svg" class="calendar-event-card__heading-icon"/>
  </div>
  <div class="d-flex align-items-center">
    <div class="mr-2">
      <img src="../../../../../../assets/img/48.svg" class="calendar-event-card__img"/>
    </div>
    <div>
      <span class="calendar-event-card__info">8:00 - 9 am (1 hour)</span>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="mr-2">
      <img src="../../../../../../assets/img/207.svg" class="calendar-event-card__img"/>
    </div>
    <div>
      <span class="calendar-event-card__info">5b Kipshidze St</span>
    </div>
  </div>

  <div class="calendar-event-card__people-container">
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <img src="../../../../../../assets/img/profile-picture.png"/>
    </div>
    <div class="calendar-event-card__people-container__img">
      <span>+8</span>
    </div>
  </div>
</div>
