<div class="feed-box mt-3 groups">
    <h2>My Groups</h2>
    <div class="row mt-3">
        <div class="col-4">
            <img class="rounder-image" src="../assets/img/banner-1.png" alt="group">
        </div>
        <div class="col-8">
            <h2>Travel Lovers</h2>
            <h5>Travel & tourism</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <img class="rounder-image" src="../assets/img/banner-2.png" alt="group">
        </div>
        <div class="col-8">
            <h2>Travel Lovers</h2>
            <h5>Travel & tourism</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <img class="rounder-image" src="../assets/img/banner-3.png" alt="group">
        </div>
        <div class="col-8">
            <h2>Travel Lovers</h2>
            <h5>Travel & tourism</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <img class="rounder-image" src="../assets/img/banner-4.png" alt="group">
        </div>
        <div class="col-8">
            <h2>Travel Lovers</h2>
            <h5>Travel & tourism</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <img class="rounder-image" src="../assets/img/banner-2.png" alt="group">
        </div>
        <div class="col-8">
            <h2>Travel Lovers</h2>
            <h5>Travel & tourism</h5>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-1">
        <a href="#">See all</a>
    </div>
</div>