 
        <div class="center-content p-0 col-12">
            <div class="member-reported-content justify-content-between p-3 col-12 ">
                <div class="member-reported-content__title col-12 mb-4">
                    <h4>Member Reported Content 2</h4>
                </div>
                <!--*** Report Comment *** -->
                <div class="member-reported-content__line col-12 d-flex">
                    <p>Anastasia Richardson </p>
                    <span>reported this comment for hate speech</span>
                </div>
                <div class="member-reported-content__user mt-3">
                    <div class="d-flex">
                        <div class="member-reported-content__user__avatar d-flex">
                            <img src="../../../assets/img/services/person.png" alt="">
                        </div>
                        <div class="member-reported-content__user__fullName">
                            <div class="d-flex col-12 justify-content-between p-0">
                                <p>Liarm Johnson</p>
                                <a href="#">
                                    <img src="../../../assets/img/498.svg" alt="">
                                </a>
                            </div>
                            <div class="member-reported-content__user__description mt-2">
                                <span>Commented on Anastasia Richardson post: Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="member-reported-content__user__date mt-2 mb-3">
                        <span>April 15, 2019 at 10:35 am</span>
                    </div>
                    <div class="member-reported-content__user__buttons col-12 d-flex justify-content-end pb-4">
                        <button class="btn btn-secondary">Delete</button>
                        <button class="btn btn-primary ml-2">Keep</button>
                    </div>
                </div>
                <!--*** End Comment *** -->

                <!--*** Report Post *** -->
                <div class="member-reported-content__line col-12 mb-3 d-flex">
                    <p>Anastasia Richardson </p>
                    <span>Isabella Campbell reported this post for breaking group rules</span>
                </div>
                <div class="d-flex">
                    <div class="member-reported-content__user__avatar d-flex">
                        <img src="../../../assets/img/services/user_999_Images/user_999_ImgID1.png" alt="">
                    </div>
                    <div class="member-reported-content__user__fullName">
                        <div class="d-flex col-12 justify-content-between p-0">
                            <p>Liarm Johnson</p>
                            <a href="#">
                                <img src="../../../assets/img/498.svg" alt="">
                            </a>
                        </div>
                        <div class="member-reported-content__user__date__post">
                            <span>April 15, 2019 at 10:35 am</span>
                        </div>
                        <div class="member-reported-content__user__description mt-2">
                            <div class="d-flex col-12 mt-3 row p-0">
                                <div class="col-lg-9">
                                    <span>Commented on Anastasia Richardson post: Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla
                                    </span>
                                </div>
                                <div class="col-lg-3 pr-0 d-flex justify-content-end">
                                    <img src="../../../assets/img/services/lady.jpg" alt="">
                                    <img src="../../../assets/img/services/lady2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="member-reported-content__user__buttons col-12 d-flex justify-content-end pb-4 mt-4">
                            <button class="btn btn-secondary">Delete</button>
                            <button class="btn btn-primary ml-2">Keep</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 