<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Show only</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__show-options find-work__sidebar-section__wrap">
  <div >
      <div class="
          custom-control 
          custom-radio 
          page-section-text-grey
          ">
          <input type="radio" class="custom-control-input" id="company-req" name="type"><label class="custom-control-label" for="company-req">Company Requests</label>
      </div>
      <div class="
          custom-control 
          custom-radio 
          page-section-text-grey
          ">
          <input type="radio" class="custom-control-input" id="user-req" name="type"><label class="custom-control-label" for="user-req">User Requests</label>
      </div>
  </div>
</div>