 
.box {
    position: absolute;
    top: 61px;
    right: 56%;
    padding: 3px 16px;
    background: #00D4E3;
    border-radius: 35px;
    cursor: pointer;
    span {
        color: white;
    }
  }
