 
 <div class="portfolio-box" [ngClass]="{'video': type === 'Video' }">
 <ng-container *ngIf="portfolio.files.length > 0">
     <ng-container *ngIf="type === 'Photo'">
         <img  class="file" [src]="portfolio.files.length ? '/file/'+portfolio.files[0].address : 'assets/img/recommendator-1.png'" alt="" (click)='openPortfolio( portfolio.id, portfolio.title  )'>
     </ng-container>
    
     <ng-container *ngIf="type === 'Video'">
         <video class="file" [src]="'/file/'+portfolio.files[0].address" ></video>
         <div class="play" (click)='openPortfolio( portfolio.id, portfolio.title  )'>
                <img src="assets/img/Play.svg" alt="play">
         </div>
    </ng-container>

 </ng-container>
 
     
     <div class="portfolio-box-detailed">
            <h5>{{ portfolio?.title }}</h5>
            <div class="d-flex justify-content-between">
                <div class="date">
                    <span>{{ portfolio?.created_at | date }}</span>
                </div>
                <div class="info">
                      <a>
                          <img class="heart" [src]="portfolio.has_liked ?  'assets/img/99.svg' :  'assets/img/44.svg' " alt="favourites">
                          <span>{{ portfolio?.like_count }}</span>
                      </a>

                      <a style="padding-left: 10px;">
                          <img src="assets/img/6.svg" alt="view">
                         <span>{{ portfolio?.view_count }}</span>
                      </a>
                </div>
            </div>
     </div>
 </div>


 <app-modal (closeModal)='modalType = null' [isBlue]='false' size='lg'>
     <ng-container *ngIf="modalType === 'portfolioDetailed' ">
            <app-userportfoliodetailed (result)='getPortfolioModalResult()'  [portId]='selectedPortId'></app-userportfoliodetailed>
     </ng-container>
 </app-modal>