
<!-- 
<form [formGroup]="form" class="col-md-5">
    <div class="form-group">
        <label  for="selectBrand" class="label-control"> Cubic Capacity </label>
        <select name="capacity"
                id="selectCubic" 
                class="form-control"
                (change)="selectDoors($event)"
                formControlName="capacity">
            <option value="" disabled>Select Doors</option>
            <option [value]="item" 
                    *ngFor="let item of doors">
                        {{ item }} cm
            </option>
        </select>
    </div>
</form> -->