@import "src/variables";
@import 'src/mixins.scss';

.post-job { 
    .countries {
        span.active {
            border: 1px solid black;
            font-weight: bold;
        }
    }
}

.benefit__span{
    color: #808080;
}

.description {
    max-width: 846px;
}

.bordered {
    border: 1px solid $dark-grey;
    border-radius: 5px;
    padding: 0 15px;
    height: 24px;
    line-height: 22px;
    margin-left: 2px;
    margin-bottom: 2px;
    background: unset !important;
    color: #052337 !important;
}


.post-a-job {
    padding-top: 24px;
    padding-bottom: 64px;

    &__content {
        padding-top: 20px;
        padding-bottom: 20px;

        &__section {
            margin-top: 64px;
        }

        &__sub-section {
            margin-top: 32px;
        }

        &__section-title {
            font-size: 18px;
            color: $dark-blue;
        }

        &__country-list {

            &__country {
                padding: 5px 10px;
                background: #DCE1E6;
                color: $dark-blue;
                border-radius: 5px;
                margin-right: 7px;
                font-size: 14px;
                display: inline-block;
                white-space: nowrap;
            }
        }

        &__plan {
            &__card {
                border: 1px solid $light-grey;
                border-radius: 5px;

                &--selected {
                    background-color: #EAEDF2;
                }

                &__heading {
                    background-color: $blue;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    text-align: center;
                    height: 32px;

                    span {
                        color: $white;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }

                &__body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &__price {
                        font-size: 24px;
                        color: $background-dark-cyan;
                        padding-top: 14px;
                        margin-bottom: 0;
                    }
                    &__btn {
                        margin: 16px 0;
                    }
                }
            }
        }

        &__strategy {
            &__stamp {
                border-radius: 5px;
                font-size: 12px;
                padding: 1px 6px;
                font-weight: bold;

                &--pre {
                    color: $background-light-cyan;
                    background-color: $dark-blue;
                }
                &--exc {
                    color: $dark-blue;
                    background-color: $background-dark-cyan;
                }
                &--pro-plus {
                    color: $white;
                    background-color: #A3AEBA;
                }
            }
        }

        &__additional {
            &__frame {
                color: $white;
                background-color: $blue;
                border-radius: 5px;
                padding: 0 15px;
                height: 24px;
                line-height: 22px;
                margin-left: 2px;
                margin-bottom: 2px;


            }
        }

        &__qualifications {
            &__textarea {
                min-height: 100px;
            }

            &__container {
                @include white-card-template($padding: 16px);
                margin-top: 12px;
                column-count: 4;
                height: 145px;
                column-fill: auto;

                &__list {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 20px;

                    li {
                        padding: 0;
                        margin: -2px 0;
                    }
                }
            }
        }

        &__compensation { 
            &__salary {
                margin-top: 40px;
            }

            &__benefit-list {
                &__item {
                    margin-bottom: 12px;
                    padding: 5px 10px;
                    background: #DCE1E6;
                    color: $dark-blue;
                    border-radius: 5px;
                    margin-right: 12px;
                    font-size: 14px;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }

        &__additional-info {
            &__section {
                margin-top: 40px;
            }
        }
    }

    &__sidebar {
        &__box {
            @include white-card-template;
        }

        &__progress-bar {
            &__steps {
                margin-top: 24px;
                border: 1px solid transparent;
                &__item {
                    border: 1px solid $light-grey;
                    border-radius: 50%;
                    position: relative;
                    &--active {
                        border: 1px solid $background-dark-cyan;
                    }
                    &--done {
                        border: 1px solid $background-dark-cyan;
                        background-color: $background-dark-cyan;
                        &::after {
                            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                            height: 18px;
                            width: 18px;
                            position: absolute;
                            background-repeat: no-repeat;
                            background-position: center;
                            left: 3px;
                            top: 3px;
                        }
                    }
                }
                &__text {
                    color: $light-grey;
                    font-size: 16px;
                    display: inline-block;
                    padding: 0 8px;
                    &--active {
                        color: $background-dark-cyan;
                    }
                }
                &__line {
                    background-color: $light-grey;
                    height: 1px;
                    width: 100%;
                    margin: 0 5px;
                    &--active { 
                        background-color: $background-dark-cyan;
                    }
                }
            }
        }

        &__pricing-info {
            margin-top: 16px;

            &__section {
                padding-bottom: 12px;
                padding-top: 15px;
                border-bottom: 1px solid $light-grey;
            }
        }
    }

    &__section-heading {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        div {
            height: 24px;
            width: 24px;
            text-align: center;
            margin-right: 16px;
            position: relative;
        }
        h4 {
            font-size: 1.125rem;
            color: $dark-blue;
            margin-bottom: 0;
        }
    }

}