<div class="popup-content">
  <div class="poll-modal">
    <div class="poll-modal__heading position-relative mb-3">
      <div class="poll-modal__heading__icon-wrap">
        <img src="../../../../../assets/img/637.svg"/>
      </div>
        <div>
          <h4 class="poll-modal__heading__title">Team meeting plan </h4>
          <span class="poll-modal__heading__subtitle">Created by: Ethan Jankins | Vote until: Monday, October 21, 2019</span>
        </div>
      </div>
  
      <div class="d-flex align-items-start">
        <div class="poll-modal__heading__icon-wrap">
          <span class="poll-modal__heading__icon poll-modal__heading__location-icon"></span>
        </div>
        <span class="poll-modal__heading__date">3 meeting room</span>
      </div>

      <div class="d-flex align-items-start mb-3">
        <div class="poll-modal__heading__icon-wrap">
          <span class="poll-modal__heading__icon poll-modal__heading__topics-icon"></span>
        </div>
        <div class="poll-modal__topics">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </div>
      </div>
  
      <div class="d-flex mb-4">
        <div class="poll-modal__heading__icon-wrap">
          <span class="poll-modal__heading__icon poll-modal__heading__people-icon"></span>
        </div>
        <div>
          <span class="poll-modal__heading__date">15 invited attendees</span>
        </div>
      </div>



      <div class="poll-modal__table">
        <div class="poll-modal__table__heading">
          <span>Yes</span>
          <span>No</span>
        </div>
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-option poll-option-yes mr-3"></span>
            <span class="poll-option poll-option-no  poll-option-no--active"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Tuesday, October 22, 2019 · 10:30 - 11:30 am</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                <div class="poll-modal__attendees__item__img">
                  <img src="../../../../../assets/img/user_photo.png"/>
                  <span class="poll-modal__attendees__item__icon going"></span>
                </div>
              </div>
              <div class="poll-modal__attendees__item">
                <div class="poll-modal__attendees__item__img">
                  <img src="../../../../../assets/img/user_photo.png"/>
                  <span class="poll-modal__attendees__item__icon going"></span>
                </div>
              </div>
              <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 25%"></div>
              <div class="bar bar--cyan" style="width: 10%"></div>
            </div>
            <div class="mt-1">
              <span>2 yes, 1 no</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-option poll-option-yes poll-option-yes--active mr-3"></span>
            <span class="poll-option poll-option-no"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Wednesday, October 23, 2019 · 11:00 - 12:00 am</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <div class="poll-modal__attendees__item__more">
                      <span>+9</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 0%"></div>
              <div class="bar bar--cyan" style="width: 85%"></div>
            </div>
            <div class="mt-1">
              <span>15 yes</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-option poll-option-yes mr-3"></span>
            <span class="poll-option poll-option-no"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Thursday, October 24, 2019 · 5:00 - 6:00 pm</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <div class="poll-modal__attendees__item__more">
                      <span>+2</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 35%"></div>
              <div class="bar bar--cyan" style="width: 5%"></div>
            </div>
            <div class="mt-1">
              <span>1 yes, 5 no</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row poll-modal__table__row--your-option d-flex">
          <div class="poll-modal__table__row__left d-flex justify-content-center">
            <span class="poll-modal__table__row__left__add-container"><img src="../../../../../assets/img/612.svg" class="poll-modal__table__row__left__add"/></span>
          </div>

          <div class="poll-modal__table__row__right poll-modal__table__row__right--add">
            <span class="poll-modal__table__row__right__add">Add your option</span>
          </div>
        </div>
      </div>


      <!--Limit the number of votes per option & Limit attendees to a single vote-->

      <!-- <div class="poll-modal__table">
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--limited-options">
            <div class="custom-control custom-radio" for="option-1">
              <input class="custom-control-input" id="option-1" type="radio" value="option-1" name="poll-option">
              <label class="custom-control-label poll-radio-label" for="option-1"></label>
            </div>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Tuesday, October 22, 2019 · 10:30 - 11:30 am</span>
            </div>
          </div>
        </div>
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--limited-options">
            <div class="custom-control custom-radio" for="option-2">
              <input class="custom-control-input" id="option-2" type="radio" value="option-2" name="poll-option" disabled>
              <label class="custom-control-label poll-radio-label" for="option-2"></label>
            </div>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Wednesday, October 23, 2019 · 11:00 - 12:00 am</span>
            </div>
          </div>
        </div>
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--limited-options">
            <div class="custom-control custom-radio" for="option-3">
              <input class="custom-control-input" id="option-3" type="radio" value="option-3" name="poll-option">
              <label class="custom-control-label poll-radio-label" for="option-3"></label>
            </div>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Thursday, October 24, 2019 · 5:00 - 6:00 pm</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row poll-modal__table__row--your-option d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--limited-options d-flex justify-content-center">
            <span class="poll-modal__table__row__left__add-container"><img src="../../../../../assets/img/612.svg" class="poll-modal__table__row__left__add"/></span>
          </div>

          <div class="poll-modal__table__row__right poll-modal__table__row__right--add">
            <span class="poll-modal__table__row__right__add">Add your option</span>
          </div>
        </div>
      </div> -->


      <!--Poll for admin-->

      <!-- <div class="poll-modal__table">
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-modal__table__row__left__star"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Tuesday, October 22, 2019 · 10:30 - 11:30 am</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                <div class="poll-modal__attendees__item__img">
                  <img src="../../../../../assets/img/user_photo.png"/>
                  <span class="poll-modal__attendees__item__icon going"></span>
                </div>
              </div>
              <div class="poll-modal__attendees__item">
                <div class="poll-modal__attendees__item__img">
                  <img src="../../../../../assets/img/user_photo.png"/>
                  <span class="poll-modal__attendees__item__icon going"></span>
                </div>
              </div>
              <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 25%"></div>
              <div class="bar bar--cyan" style="width: 10%"></div>
            </div>
            <div class="mt-1">
              <span>2 yes, 1 no</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row poll-modal__table__row--your-option d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-modal__table__row__left__star poll-modal__table__row__left__star--active"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Wednesday, October 23, 2019 · 11:00 - 12:00 am</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <div class="poll-modal__attendees__item__more">
                      <span>+9</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 0%"></div>
              <div class="bar bar--cyan" style="width: 85%"></div>
            </div>
            <div class="mt-1">
              <span>15 yes</span>
            </div>
          </div>
        </div>

        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left">
            <span class="poll-modal__table__row__left__star"></span>
          </div>
          <div class="poll-modal__table__row__right">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Thursday, October 24, 2019 · 5:00 - 6:00 pm</span>

              <div class="poll-modal__attendees d-flex align-items-center">
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <img src="../../../../../assets/img/user_photo.png"/>
                    <span class="poll-modal__attendees__item__icon not-going"></span>
                  </div>
                </div>
                <div class="poll-modal__attendees__item">
                  <div class="poll-modal__attendees__item__img">
                    <div class="poll-modal__attendees__item__more">
                      <span>+2</span>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="poll-modal__answers-bar">
              <div class="bar bar--orange" style="width: 35%"></div>
              <div class="bar bar--cyan" style="width: 5%"></div>
            </div>
            <div class="mt-1">
              <span>1 yes, 5 no</span>
            </div>
          </div>
        </div>

      </div> -->

      <!-- <div class="poll-modal__table">

        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--user col-3 p-2">
            <div class="d-flex align-items-center">
              <div class="poll-modal__table__row__img">
                <img src="../../../../../assets/img/profile-picture.png"/>
              </div>
              <span class="poll-modal__heading__subtitle">Amelia Bannett</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right poll-modal__table__row__right--with-border col p-2">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Tuesday, October 22, 2019 · 10:30 - 11:30 am</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right col-2 p-2">
            <div class="d-flex justify-content-center">
              <button class="backgroundless mt-0">Create event</button>
            </div>
          </div>
        </div>
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--user col-3 p-2">
            <div class="d-flex align-items-center">
              <div class="poll-modal__table__row__img">
                <img src="../../../../../assets/img/profile-picture.png"/>
              </div>
              <span class="poll-modal__heading__subtitle">Anastasia Huffington</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right poll-modal__table__row__right--with-border col p-2">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Wednesday, October 23, 2019 · 11:00 - 12:00 am</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right col-2 p-2">
            <div class="d-flex justify-content-center">
              <button class="backgroundless mt-0">Create event</button>
            </div>
          </div>
        </div>
        <div class="poll-modal__table__row d-flex">
          <div class="poll-modal__table__row__left poll-modal__table__row__left--user col-3 p-2">
            <div class="d-flex align-items-center">
              <div class="poll-modal__table__row__img">
                <img src="../../../../../assets/img/profile-picture.png"/>
              </div>
              <span class="poll-modal__heading__subtitle">Kevin Garner</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right poll-modal__table__row__right--with-border col p-2">
            <div class="d-flex justify-content-between">
              <span class="poll-modal__table__row__title">Thursday, October 24, 2019 · 5:00 - 6:00 pm</span>
            </div>
          </div>
          <div class="poll-modal__table__row__right col-2 p-2">
            <div class="d-flex justify-content-center">
              <button class="backgroundless mt-0">Create event</button>
            </div>
          </div>
        </div>

      </div> -->

      <!-- <footer class="poll-modal__footer d-flex align-items-center justify-content-between mt-3">
        <div>
          <button class="backgroundless p-0 mt-0">Finalize this poll</button>
        </div>

        <div class="poll-modal__footer__options">
          <div ngbDropdown autoClose="outside" placement="bottom-right" class="poll-modal-dropdown without-arrow">
            <button class="backgroundless py-0 poll-modal__footer__options__edit poll-modal-dropdown__toggle" ngbDropdownToggle> 
            </button>
            <div ngbDropdownMenu class="poll-modal-dropdown__menu mt-2">
              <div class="btn poll-modal-dropdown__menu__btn"><span>This event</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"><span>All events in this series</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"><span>This and future events</span></div>
            </div>
          </div>
          <div ngbDropdown autoClose="outside" placement="bottom-right" class="poll-modal-dropdown without-arrow">
            <button class="backgroundless py-0 poll-modal__footer__options__delete poll-modal-dropdown__toggle" ngbDropdownToggle> 
            </button>
            <div ngbDropdownMenu class="poll-modal-dropdown__menu mt-2">
              <div class="btn poll-modal-dropdown__menu__btn"><span>This event</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"><span>All events in this series</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"><span>This and future events</span></div>
            </div>
          </div>
          <button class="backgroundless py-0 poll-modal__footer__options__notif"
          [ngbPopover]="sendReminder" 
          [autoClose]="'outside'" 
          container="body" 
          [placement]="['left', 'left-bottom']" 
          popoverClass="task-popover-container"
          > 
          </button>
  
          <div ngbDropdown autoClose="false"  [placement]='["bottom-right", "top-right"]' class="poll-modal-dropdown without-arrow">
            <button class="backgroundless py-0 poll-modal__footer__options__more poll-modal-dropdown__toggle" ngbDropdownToggle> 
            </button>
            <div ngbDropdownMenu class="poll-modal-dropdown__menu mt-2">
              <div class="btn poll-modal-dropdown__menu__btn"><span>Print</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"><span>Duplicate</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"
                [ngbPopover]="publish" 
                [autoClose]="'outside'" 
                container="body" 
                [placement]="['left', 'left-bottom']" 
                popoverClass="task-popover-container"
              ><span>Publish event</span></div>
              <div class="btn poll-modal-dropdown__menu__btn"
                [ngbPopover]="changeOwner" 
                [autoClose]="'outside'" 
                container="body" 
                [placement]="['left', 'left-bottom']" 
                popoverClass="task-popover-container"
              ><span>Change owner </span></div>
            </div>
          </div>
        </div>
      </footer> -->

      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Send</button>
      </div>
  </div>
</div>
