 
    <div class="error-content">
        <div class="left-text">
            <h1>Sorry, Page not found</h1>
            <p>
                Uh oh, we cant find the page you’re looking for. <br> 
                Go back to previous page or visit <a [routerLink]="['/help-center']" >Help Center</a> for 
                more information
            </p>
            <button [routerLink]="['/']" class="btn btn-primary d-block ml-auto">Home Page</button>
        </div>
        <div class="right-image">
            <img src="assets/img/230.svg" alt="image">
        </div>
    </div>
 