.shared-files .chatBox-sms-ballon-img{
    height: 22px;
    width: 22px;
    cursor: pointer !important;
    margin: 4px 7px 0px 0px;
}

.hexagon {
    position: absolute;
    top: 0px;
    right: 9px;
};
.shared-files-name {
    margin-left: 5px;
}