<div class="search-groups__sidebar-section">
    <app-search-column-header title="Show me offers">
        <div class="mt-2">
            <div class="search-groups__sidebar-section__delivery-time-options search-groups__sidebar-section__wrap">
                <form [formGroup]="form">
                    <div class="
                        custom-control 
                        custom-checkbox 
                        page-section-text-grey
                        ">
                        <input formControlName="is_willing_to_work_remotly" type="checkbox" class="custom-control-input" id="is_willing_to_work_remotly" name="is_willing_to_work_remotly">
                        <label class="custom-control-label" for="is_willing_to_work_remotly">
                            Willing to work remotely
                        </label>
                    </div>
                    <div class="
                        custom-control 
                        custom-checkbox 
                        page-section-text-grey
                        ">
                        <input  formControlName="is_willing_to_travel" type="checkbox" class="custom-control-input" id="is_willing_to_travel" name="is_willing_to_travel">
                        <label class="custom-control-label" for="is_willing_to_travel">
                            Willing to travel
                        </label>
                    </div>
                    <div class="
                        custom-control 
                        custom-checkbox 
                        page-section-text-grey
                        ">
                        <input  formControlName="is_student" type="checkbox" class="custom-control-input" id="is_student" name="is_student">
                        <label class="custom-control-label" for="is_student">
                            Student
                        </label>
                    </div>
                    <div class="
                        custom-control 
                        custom-checkbox 
                        page-section-text-grey
                        ">
                        <input  formControlName="is_possible_to_relocate" type="checkbox" class="custom-control-input" id="is_possible_to_relocate" name="is_possible_to_relocate">
                        <label class="custom-control-label" for="is_possible_to_relocate">
                            Relocate
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </app-search-column-header>
</div>