<div class="upload-box" *ngIf="view=='box'">
        <label [for]="i" class="d-flex align-items-center justify-content-center flex-column" *ngIf="!src">
                <img src="assets/img/wallet/71.svg" alt="">
                <p>Upload image</p>
        </label>
        <input type="file" 
                (change)="uploadFile($event)"
                [id]="i"
                class="d-none">
                <ng-container *ngIf="src">
                        <img [src]="src" alt="image" class="file"  (click)="openModal()">
                        <div class="remove-file" (click)='removeFile()'>
                                <a>
                                        X
                                </a>
                        </div>
                </ng-container>
</div>

<div class="upload-button" *ngIf="view=='button'">
        <label [for]="i">
                Upload
        </label>
        <input type="file" 
                (change)="uploadFile($event)"
                [id]="i"
                class="d-none">
        <div class="file-viewer" *ngIf="src">
                <img [src]="src" alt="image" class="file" (click)="openModal()">
                <div class="remove-file" (click)='removeFile()'>
                        <a>
                                X
                        </a>
                </div>
        </div>
</div>
<app-photo-modal [src]="srcForModal" (onSrc)="closeModal()"></app-photo-modal>