@import 'src/variables'; 

.content {
    background-color: white; 
    border: 1px solid $grey-dark; 
    border-radius: .5rem; 

    &__active {
        font-size: .875rem; 
        color: $dark-grey; 
    }

}


.down-arrow {
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
}; 

.active {
    border-bottom: 3px solid $lignt-cyan !important;

}


.wallet {
    &-wrapper
    {
        background-color: $background-soft-blue;
        // min-height: 95vh;
        min-height: calc(100vh - 258px);
    }
    &-header {
        background-color: $dark-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-nav {
            padding:0;
            margin: 5px 0 0 0;
            display: inline-flex;
            overflow: hidden;
            overflow-x: initial;
            list-style-type: none;
            > li {
                > a {
                    text-decoration: none; 
                    white-space: nowrap;
                    color:$white;
                    padding: 15px;
                    padding-bottom:16px;
                    display: block; 
                    &.active {
                        color: $white;
                        border-bottom:4px solid $background-dark-cyan;
                    }
                    
                }
            }
        }
        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

}