<div class="col">
 
    <div class="center-heading">
        <h3>Contacts<span></span></h3>
        <div class="d-flex center-heading__filter-wrapper">
            <form class="mr-2">
                <input type="text" formControlName="search" class="form-control search">
            </form>
            <button class="btn btn-primary" [routerLink]='["/search/people"]'>
                <img src="assets/img/105.svg" alt="">
                Filters
            </button>
        </div>

    </div>
</div>