<main class="main-light-blue">
  <div class="container help-boxes">
      <div class="row">
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center/detailed/people/view']">People</a>
                  <img src="assets/img/help-center-1.svg" alt="people">
              </div>
              <div class="box-content">
                  <a [routerLink]="['/help-center/detailed/people/how-to-register']">How to register on HyperCube?</a>
                  <a [routerLink]="['/help-center/detailed/people/your-profile-overview']">Your Profile - Overview</a>
                  <a [routerLink]="['/help-center/detailed/people/how-to-download']">How to download your profile in a PDF format?</a>
                  <a [routerLink]="['/help-center/detailed/people/recommendations-overview']">Recommendations - Overview</a>
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center/detailed/companies/view']">Company & Organization</a>
                  <img src="assets/img/help-center-2.svg" alt="companies">
              </div>
            <div class="box-content">
                <a [routerLink]="['/help-center/detailed/companies/how-to-register']">How to Register a Company/Organization on HyperCube?</a>
                <a [routerLink]="['/help-center/detailed/companies/profile-overview']">Company/Organization profile Overview</a>
                <a [routerLink]="['/help-center/detailed/companies/add-sections']">How to add sections to your company/Organization Profile?</a>
                <a [routerLink]="['/help-center/detailed/companies/about-us']">How to add/edit/delete about us section to Company/Organization Profile?</a>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center/detailed/network/view']">Network</a>
                  <img src="assets/img/help-center-3.svg" alt="network">
              </div>
              <div class="box-content">
                <a [routerLink]="['/help-center/detailed/network/how-to-grow']">How to Grow your Network?</a>
                <a [routerLink]="['/help-center/detailed/network/how-to-invite']">How to Invite or Connect with People?</a>
                <a [routerLink]="['/help-center/detailed/network/how-to-categorize']">How to categorize your Connections?</a>
                <a [routerLink]="['/help-center/detailed/network/how-to-report']">How to Report a User?</a>
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center/detailed/jobs/view']">Jobs</a>
                  <img src="assets/img/help-center-4.svg" alt="jobs">
              </div>
              <div class="box-content">
                <a [routerLink]="['/help-center/detailed/jobs/become-candidate']">How to become a candidate?</a>
                <a [routerLink]="['/help-center/detailed/jobs/share-interests']">How to share your Career Interests to employees?</a>
                <a [routerLink]="['/help-center/detailed/jobs/create-job-alerts']">How to create Job alerts?</a>
                <a [routerLink]="['/help-center/detailed/jobs/access-job-alerts']">How to Access Your Job Alerts?</a>
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center']">Ads</a>
                  <img src="assets/img/help-center-5.svg" alt="ads">
              </div>
              <div class="box-content">
                <a [routerLink]="['/help-center']">In progress...</a>
                <a [routerLink]="['/help-center']">&nbsp;</a>
                <a [routerLink]="['/help-center']">&nbsp;</a>
                <a [routerLink]="['/help-center']">&nbsp;</a>
              </div>
          </div>
          <div class="col-md-6 col-xl-4">
              <div class="box-heading">
                  <a [routerLink]="['/help-center']">Banking</a>
                  <img src="assets/img/help-center-6.svg" alt="banking">
              </div>
              <div class="box-content">
                  <a [routerLink]="['/help-center']">In progress...</a>
                  <a [routerLink]="['/help-center']">&nbsp;</a>
                  <a [routerLink]="['/help-center']">&nbsp;</a>
                  <a [routerLink]="['/help-center']">&nbsp;</a>
              </div>
          </div>
      </div>
  </div>
</main>