 
    <div class="center-content p-0 col-12">
        <div class="admin-activity-content justify-content-between p-3 col-12 ">
            <div class="admin-activity-content__title col-12 mb-4 mt-3">
                <h4>Pending Posts 2</h4>
            </div>
            <hr>
            <div class="pending-post-content">
                <div class="d-flex">
                    <div class="pending-post-content__user__avatar">
                        <img src="assets/img/user_photo.png" alt="avatar">
                    </div>

                    <div class="pending-post-content__user__info col-11">
                        <p>Reichel Gardyn</p>
                        <div class="d-flex justify-content-between">
                            <span>April 14 at 18:22 pm </span>
                            <a>
                                <img src="../../../assets/img/498.svg" alt="">
                            </a>
                            <div class="options d-block p-0" style="width: 9.375rem; right: .1rem; top: 3rem;">
                                <a class="btn more">Block member</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pending-post-content__user__description mt-2">
                    <div class="pending-post-content__user__description__text col-11">
                        <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</span>
                    </div>
                    <div class="pending-post-content__user__description__img mt-3  row p-4">
                        <div class="left">
                                <img src="assets/img/509.svg" alt="left-slide">
                        </div>
                        
                        <div class="right">

                                <img src="assets/img/508.svg" alt="right-slide">

                        </div>

                        <div class="col-lg-4 p-0">
                            <div class="pending-post-content__user__description__img__content" style="width: 97%">
                                <img src="../../../assets/img/user_photo.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-4 p-0">
                            <div class="pending-post-content__user__description__img__content" style="width: 97%">
                                <img src="../../../assets/img/user_photo.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-4 p-0">
                            <div class="pending-post-content__user__description__img__content" style="width: 97%">
                                <img src="../../../assets/img/user_photo.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="pending-post-content__user__buttons d-flex col-12 justify-content-end mt-2">
                        <button class="btn btn-secondary">Decline</button>
                        <button class="btn btn-primary ml-2">Approve</button>
                    </div>
                    <hr>
                </div>
 