.text__cnt{
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 16px;
    display: block;
    color: #808080;
    font-size: 14px;
    margin-top: 1rem;

}