<div class="responsive-wrapper" *ngIf="activeFormat!='image';else banner">
        <small>Ad</small>
    <div class="d-flex">
        <ng-container *ngIf="activeFormat=='responsive';else spotLight">
            <div class="image image-normal">
                <img [src]="content['image']" alt="image" *ngIf="content['image']">
            </div>
        </ng-container>
        <ng-template #spotLight>
            <div class="image image-small">
                    <img [src]="content['image']" alt="image" *ngIf="content['image']">
            </div>
        </ng-template>
            <div class="right-content">
                <p class="headline"  *ngIf="activeFormat=='responsive'">
                    <span *ngIf="content['line'];else headline">{{ content['line'] }}</span>
                    <ng-template #headline>Ad Headline</ng-template>
                </p>
                <p class="description">
                    <span *ngIf="content['description'];else description">{{ content['description'] }}</span>
                    <ng-template #description>Ad description</ng-template> 
                </p>
            </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-2"  *ngIf="activeFormat!='responsive'">
        <p class="keyline">
            <span *ngIf="content['line'];else keyline">{{ content['line'] }}</span>
            <ng-template #keyline>Keyline</ng-template> 
                
        </p>
        <button class="btn btn-primary">
            <span *ngIf="content['btn'];else btn">{{ content['btn'] }}</span>
            <ng-template #btn>Button</ng-template>
        </button>
    </div>

</div>
<ng-template #banner>
        <div class="image-container">
            <img src="assets/img/ads/36.svg" alt="" class="empty" *ngIf="!content['image']">
            <img [src]="content['image']" alt="" class="image-content" *ngIf="content['image']">
        </div>
</ng-template>

