<label class="title-label">Size</label>
<div class="mt-1 d-flex custom-radio-input-god">
        <div class="mt-2">
            <input  type="radio" id="small"  [formControl]='size' class="d-none" name="size" value="Size_Small">
            <label for="small" 
                   class="btn btn-light-dark mr-3">Small</label>
        </div>

        <div class="mt-2">
            <input  type="radio" id="medium" [formControl]='size' class="d-none" name="size" value="Size_Medium">
            <label for="medium" 
                   class="btn btn-light-dark mr-3" 
                   >Medium</label>                
        </div>
       
        <div class="mt-2">
            <input  type="radio" id="large" [formControl]='size' class="d-none" name="size" value="Size_Large">
            <label for="large" 
                   class="btn btn-light-dark mr-3" >Large</label>
        </div>

        <div class="mt-2">
           <input  type="radio" id="xlarge" [formControl]='size' class="d-none" name="size" value="Size_XLarge">
           <label for="xlarge" 
                  class="btn btn-light-dark mr-3" >XLarge</label>
        </div>

</div>
