<app-common-header-land-pages></app-common-header-land-pages>
<main>
    <div class="dark-blue-bg-for-network">
        <div class="background-content-wrap">
        </div>
    </div>

    <section class="demo_user-prof">
        <div class="demo_user-prof-cont">
            <h2 class="demo-simple-title"> {{ '720' | translate }}</h2>
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span> {{ '1353' | translate }}</span>
            </div>
            <h1 class="demo-above-title"> {{ '403' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '881' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/for_user_1.png" class="demo_user-prof-img" alt="img">
    </section>

    <section class="demo_user-cand">
        <img src="./assets/img/other-pages/for_user_2.png" class="demo_user-cand-img" alt="img">
        <div class="demo_user-cand-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span> {{ '1354' | translate }}</span>
            </div>
            <h1 class="demo-above-title"> {{ '206' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1592' | translate }}
            </div>
        </div>
    </section>

    <section class="demo_user-jobs">
        <div class="demo_user-jobs-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span> {{ '1355' | translate }}</span>
            </div>
            <h1 class="demo-above-title"> {{ '1217' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1525' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/for_user_3.png" class="demo_user-jobs-img" alt="img">
    </section>

    <section class="demo_user-apply">
        <img src="./assets/img/other-pages/for_user_4.png" class="demo_user-apply-img" alt="img">
        <div class="demo_user-apply-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span> {{ '1356' | translate }}</span>
            </div>
            <h1 class="demo-above-title"> {{ '172' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '173' | translate }}
            </div>
        </div>
    </section>

    <section class="demo_user-employ">
        <div class="demo_user-employ-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span> {{ '1357' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ 'Landing_Page.row_154' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '190' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/messaging_1.png" class="demo_user-employ-img" alt="img">
    </section>

    <section class="demo_user-tool">
        <img src="./assets/img/other-pages/for_user_5.png" class="demo_user-tool-img" alt="img">
        <div class="demo_user-tool-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1358' | translate }}</span>
            </div>
            <h1 class="demo-above-title">
                {{ 'Landing_Page.row_158' | translate }}
            </h1>
            <div class="demo-gray-text">
                {{ '1236' | translate }}
            </div>
        </div>
    </section>

    <section class="demo-foot">
        <h1 class="demo-above-title">{{ '1149' | translate }}</h1>
        <a class="btn btn-primary-demo" (click)='rederictTo()'>{{ '673' | translate }}</a>
    </section>

</main>