<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Illustration Style</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__style-options find-work__sidebar-section__wrap">
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Photoshop">
      <label class="custom-control-label write-a-review-label reviews-label" for="Photoshop">Photoshop</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Illustrator">
      <label class="custom-control-label write-a-review-label reviews-label" for="Illustrator">Illustrator</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="CorelDRAW">
      <label class="custom-control-label write-a-review-label reviews-label" for="CorelDRAW">CorelDRAW</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Anime">
      <label class="custom-control-label write-a-review-label reviews-label" for="Anime">Anime</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Realism">
      <label class="custom-control-label write-a-review-label reviews-label" for="Realism">Realism</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Pixel-Art">
      <label class="custom-control-label write-a-review-label reviews-label" for="Pixel-Art">Pixel Art</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Realism">
      <label class="custom-control-label write-a-review-label reviews-label" for="Realism">Realism</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Watercolor">
      <label class="custom-control-label write-a-review-label reviews-label" for="Watercolor">Watercolor</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Pen-and-Ink">
      <label class="custom-control-label write-a-review-label reviews-label" for="Pen-and-Ink">Pen-and-Ink</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Retro">
      <label class="custom-control-label write-a-review-label reviews-label" for="Retro">Retro</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="3D">
      <label class="custom-control-label write-a-review-label reviews-label" for="3D">3D</label>
  </div>
  <!--For scroll-->
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Realism">
      <label class="custom-control-label write-a-review-label reviews-label" for="Realism">Realism</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Watercolor">
      <label class="custom-control-label write-a-review-label reviews-label" for="Watercolor">Watercolor</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Pen-and-Ink">
      <label class="custom-control-label write-a-review-label reviews-label" for="Pen-and-Ink">Pen-and-Ink</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="Retro">
      <label class="custom-control-label write-a-review-label reviews-label" for="Retro">Retro</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="3D">
      <label class="custom-control-label write-a-review-label reviews-label" for="3D">3D</label>
  </div>
</div>
<h4 class="find-work__sidebar-section__price-options__more mb-0">Show less</h4>