.caret-down{
    border-top: 6px solid rgba(128,128,128,.5);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.content-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: .75rem;
    padding: .5rem 1rem;

    h6{
        color: #808080;
        font-weight: 500;
        margin-bottom: 0;
    }
}