<h6 class="mt-5">Increase Exposure</h6>

<div class="exposure-content mt-3">
    <div class="content-box">
        <h6>Impressions</h6>
        <span class="caret-down"></span>
    </div>
    <div class="content-box">
        <h6>Clicks</h6>
        <span class="caret-down"></span>
    </div>
    <div class="content-box">
        <h6>Forwarding</h6>
        <span class="caret-down"></span>
    </div>
    <div class="content-box">
        <h6>Referals</h6>
        <span class="caret-down"></span>
    </div>
</div>