<div class="search-groups__sidebar-section">
    <app-search-column-header title="School / University">
        <div class="mt-2">
            <div class="search-groups__sidebar-section__delivery-time-options search-groups__sidebar-section__wrap">
                <div class="
                    custom-control 
                    custom-checkbox 
                    page-section-text-grey
                    " *ngFor="let school of schools">
                    <input type="checkbox" [checked]="school.isSelected" class="custom-control-input" [id]="school.name" name="type"
                           (change)="checkSchool($event)" [value]="school.name">
                    <label
                        class="custom-control-label" [for]="school.name" >
                    {{ school.name }}
                    </label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="input-container">
                    <input type="text" placeholder="Enter school" (keyup.enter)="selectSchool($event)" class="form-control">
                </div>
                <div>
                    <button class="btn backgroundless search-btn" type="submit">
                        <img src="assets/img/right-arrow.svg" class="search-groups__sidebar-section__location__img"/>
                    </button>
                </div>
            </div>
        </div>
    </app-search-column-header>
</div>