<div style="position: relative;">
    <button type="button" class="reaction-btn d-flex backgroundless justify-content-between align-items-center"
           (click)="likeUnLike($event);">
        <img [src]="currentReaction['img']" alt="heart" class="like-img">
        <h5 class="mr-2 mb-0 reaction-text" *ngIf="!commentId">
          {{ currentReaction['text'] }}
        </h5>
        <span *ngIf="commentId" style="color: #808080">{{ commentLikes }}</span>
    </button>
    <div class="comment-popup" *ngIf="!commentId">
        <div class="d-flex justify-content-between align-items-center">
          <ng-container *ngFor="let reaction of allReactions">
            <button type="button" *ngIf="!reactions[reaction].hidden" class="backgroundless" 
                    (click)="clickReaction($event , reaction);" [ngbTooltip]="reactions[reaction].text" [autoClose]="'outside'" placement="top">
                <img [src]="reactions[reaction].img" [alt]="reaction">
            </button>
          </ng-container>
        </div>
    </div>   
</div>
