    <!-- Additional Details -->
    <div class="col-lg-10" style="padding:0px;">                        
        <div class="d-flex  mt-5">
            <img src="../../assets/img/277.svg" alt="details">
            <h5 class="mt-1 ml-2">Additional Details</h5>
    </div>
 
    <div class="col-lg-8 mt-3" style="padding: 0px">
        <app-import-from-profile  [qualifications]='qualifications' 
                                  [isOpen]='{ isOpen: true }' 
                                  [isSubmited]='true'></app-import-from-profile>
    </div>
