<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Rating</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__rating-options find-work__sidebar-section__wrap">
  <div>
      <div class="form-check custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="5stars">
          <label class="custom-control-label reviews-label d-flex align-items-center" for="5stars">
              <div class="find-work__sidebar-section__rating-options__stars">
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
              </div>
              <span class="page-section-text-grey">5.0</span>
          </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="4stars">
          <label class="custom-control-label reviews-label d-flex align-items-center" for="4stars">
              <div class="find-work__sidebar-section__rating-options__stars">
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
              </div>
              <span class="page-section-text-grey">4.0</span>
          </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="3stars">
          <label class="custom-control-label reviews-label d-flex align-items-center" for="3stars">
              <div class="find-work__sidebar-section__rating-options__stars">
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
              </div>
              <span class="page-section-text-grey">3.0</span>
          </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="2stars">
          <label class="custom-control-label reviews-label d-flex align-items-center" for="2stars">
              <div class="find-work__sidebar-section__rating-options__stars">
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
              </div>
              <span class="page-section-text-grey">2.0</span>
          </label>
      </div>
      <div class="form-check custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="1stars">
          <label class="custom-control-label reviews-label d-flex align-items-center" for="1stars">
              <div class="find-work__sidebar-section__rating-options__stars">
                  <img src="../../../../assets/img/215.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
                  <img src="../../../../assets/img/221.svg"/>
              </div>
              <span class="page-section-text-grey">1.0</span>
          </label>
      </div>
  </div>
</div>