<div class="center-content p-0 col-12">
    <div class="admin-activity-content justify-content-between p-3 col-12">

        <div class="admin-activity-content__title col-12 mb-4">
            <h4>Admin Activity</h4>
        </div>

        <div class="admin-activity-content__filters d-flex">
            <div class="col">
                <select class="form-control" name="" id="">
                    <option value="">Date</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" name="" id="">
                    <option value="">Admins</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" name="" id="">
                    <option value="">Members</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" name="" id="">
                    <option value="">Activity type</option>
                </select>
            </div>
        </div>

        <div class="admin-activity-content__today">
            <div class="admin-activity-content__today__line mt-4 mb-3 col-12">
                <span>Today</span>
            </div>
            <div class="admin-activity-content__today__user d-flex">
                <div class="admin-activity-content__today__user__avatar pl-1">
                    <img src="../../../assets/img/user_photo.png" alt="">
                </div>
                <div class="admin-activity-content__today__user__name col">
                    <span>Mason Griffin</span>
                    <p>Approved <span>Anastasia Richardson</span> request to join the group</p>
                </div>
                <div class="admin-activity-content__today__user__more d-flex justify-content-end">
                    <div class="admin-activity-content__today__user__more__date mt-1 d-flex">
                        <span>April 14,2019 </span>
                        <span> at 10:53 am</span>
                    </div>
                    <div class="admin-activity-content__today__user__more__settings">
                        <a href="#">
                            <img src="../../../assets/img/107.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr>

            <div class="admin-activity-content__today__user d-flex">
                <div class="admin-activity-content__today__user__avatar pl-1">
                    <img src="../../../assets/img/user_photo.png" alt="">
                </div>
                <div class="admin-activity-content__today__user__name col">
                    <span>Mason Griffin</span>
                    <p>Approved <span>Anastasia Richardson</span> request to join the group</p>
                </div>
                <div class="admin-activity-content__today__user__more d-flex justify-content-end">
                    <div class="admin-activity-content__today__user__more__date mt-1 d-flex">
                        <span>April 14,2019 </span>
                        <span> at 10:53 am</span>
                    </div>
                    <div class="admin-activity-content__today__user__more__settings">
                        <a href="#">
                            <img src="../../../assets/img/107.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>
            <hr>

        </div>
        
    </div>
</div>