@import 'src/variables';

.connections-wrapper {
    margin-top: 1rem;
    background: $white;
    padding: 15px 22px;
    h3 {
        font-size: 1.125rem;
        margin: 0px;
    }
    a {
        font-size: 1rem;
        padding-left: 5px;
        color: $background-dark-cyan;
        cursor: pointer;
        padding-left: 0.7rem;
    }
    
}
:host ::ng-deep .center-content-network {
    margin: 20px 0;
    padding: 16px 20px 10px 20px;
}
 