.add-about-us-wrap::-webkit-scrollbar-thumb {
    background-color: #264361;
    border-radius: 0.5rem;
}
.popup-content {
    padding: 24px;
}
.about-us {
    background: white;
    border-top: unset !important;
}