<div class="calendar-notifications">

  <!--Upcoming event-->
  <div class="calendar-notifications__item calendar-notifications__item--new">
    <div class="calendar-notifications__item__borders">
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <h5 class="mt-2">SEP</h5>
          <h2>18</h2>
        </div>
        <div>
          <h4>Yoga class</h4>
          <span>8:00 - 9:00 am</span>
        </div>
      </div>
    </div>
  </div>

  <!--Calendar share request-->
  <div class="calendar-notifications__item calendar-notifications__item--new">
    <div class="calendar-notifications__item__borders">
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <img src="../../../assets/img/user_photo.png"/>
        </div>
        <div>
          <h4 class="inline-heading">Anastasia Huffington <span>would like to share calendar with you</span></h4>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="backgroundless py-0">Ignore</button>
        <button class="btn btn-primary">Accept</button>
      </div>
    </div>
  </div>

  <!--Event invitation-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <img src="../../../assets/img/user_photo.png"/>
        </div>
        <div>
          <span>Liam Johnson sent the invitation 
              for <h4>Paulines birthday party</h4> on 
              Oct 4, 10:00 pm </span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <span class="calendar-notifications__item__invitation calendar-notifications__item__invitation--yes">Yes</span>
        <span class="calendar-notifications__item__invitation calendar-notifications__item__invitation--no">No</span>
        <span class="calendar-notifications__item__invitation calendar-notifications__item__invitation--maybe">Maybe</span>
      </div>
    </div>
  </div>

  <!--Voting invitation-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__icon-container">
          <img src="../../../assets/img/637.svg"/>
        </div>
        <div>
            <span>Ethan Jenkins Invited you voting for<h4 class="inline-heading">team meeting plan</h4></span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="backgroundless py-0">Ignore</button>
        <button class="btn btn-primary">Vote</button>
      </div>
    </div>
  </div>

  <!--Event cancellation-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <h5 class="mt-2">SEP</h5>
          <h2>7</h2>
        </div>
        <div>
          <h4>Project planning <span>has been cancelled by Anastasia Richardson</span></h4>
        </div>
      </div>
    </div>
  </div>

  <!--Someone accepted event-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <img src="../../../assets/img/user_photo.png"/>
        </div>
        <div>
          <span>Anastasia Richardson accepted <h4 class="inline-heading">Teem meeting</h4> on Sep 12, 10:00am</span>
        </div>
      </div>
    </div>
  </div>

  <!--Finalize poll-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__icon-container">
          <img src="../../../assets/img/637.svg"/>
        </div>
        <div>
            <span>Most of the attendees shared their availability</span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="backgroundless py-0">Finalize this poll</button>
      </div>
    </div>
  </div>

  <!--Reminder-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__icon-container">
          <img src="../../../assets/img/638.svg"/>
        </div>
        <div>
            <span>Reichel Gardyn sent the reminder for <h4 class="inline-heading">Meet friends</h4> on Sep 14, 9:30 pm</span>
        </div>
      </div>
    </div>
  </div>

  <!--Event ownership request-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__img-container">
          <img src="../../../assets/img/user_photo.png"/>
        </div>
        <div>
          <span>Mason Griffin Would like to give ownership for <h4 class="inline-heading">Projects planning</h4> on Sep 12, 10:00am </span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="backgroundless py-0">Ignore</button>
        <button class="btn btn-primary">Accept</button>
      </div>
    </div>
  </div>

  <!--Birthday-->
  <div class="calendar-notifications__item">
    <div class="calendar-notifications__item__borders">
      <span class="calendar-notifications__item__date">2d</span>
      <div class="d-flex align-items-center">
        <div class="calendar-notifications__item__icon-container">
          <img src="../../../assets/img/639.svg"/>
        </div>
        <div>
          <h4>Liam Johnson birthday </h4> 
          <span>Wednesday, August 28</span>
        </div>
      </div>
    </div>
  </div>

</div>
