<div class="wrap">

    <main class="main-light-blue">
        <div class="container register reset-pass">
          <div class="row mx-0">
              <h1 class="reset_password">Reset Password</h1>
              <h2 class="choose_password">Choose a new password</h2>
              <form [formGroup]="passwordRecovery" class="w-100">

                <div class="password-wrap">
                    <input type="password" 
                           class="form-control" 
                           (focus)="viewValidator = true" 
                           (blur)="viewValidator = false" 
                           placeholder="New password" 
                           formControlName="password" 
                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                           style="margin-bottom: 32px">
                    <!--passwordRecovery.hasError('pattern', 'password') -->
                    <ul class="password-criteria "  *ngIf="passwordRecovery.get('password').invalid && viewValidator" >
                          <li>Password Criteria</li>
                          <li [ngClass]="{ 'valid': !passwordRecovery.get('password').hasError('minLength') }" >At least 8 characters</li>
                          <li [ngClass]="{ 'valid': !passwordRecovery.get('password').hasError('uppercase') }" >At least one Uppercase Letter (A-Z)</li>
                          <li [ngClass]="{ 'valid': !passwordRecovery.get('password').hasError('number') }" >At least one number (0-9)</li>
                          <li [ngClass]="{ 'valid': !passwordRecovery.get('password').hasError('symbols') }" >At least one Special characters ($@!^)</li>
                      </ul>
                </div>

                <div class="password-wrap">
                    <input type="password" 
                            class="form-control" 
                            (focus)="viewValidatorConfirm = true" 
                            (blur)="viewValidatorConfirm = false" 
                            placeholder="Confirm new password" 
                            formControlName="confirmPassword" 
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" 
                            style="margin-bottom: 32px">
                    
                    <ul class="password-criteria "  *ngIf="passwordRecovery.get('confirmPassword').invalid && viewValidatorConfirm" >
                        <li>Password Criteria</li>
                        <li [ngClass]="{ 'valid': passwordRecovery.get('confirmPassword').hasError('wrong') }" >Confirm password is wrong</li>
                    </ul>
                </div>


                  <!-- <p class="err_mssg" *ngIf="passwordRecovery.hasError('MatchPassword', 'confirmPassword')">Confirm Password <strong> not match</strong> Password.</p> -->

                  <p class="err_mssg_forms_k" *ngIf="error_server != '' " ><strong> {{ error_server }}</strong></p>

                  <button type="submit" class="fingerprint align-self-end" (click)="onSubmit()" ></button>
              </form>   
            </div>
        </div>
    </main>
    
    
    
</div>


    