.estate-wrapper {
    max-width: 1140px;
    flex-wrap: wrap;
    padding-bottom: 119px;
}
.add-estate-wrapper {
     padding: 25px;
     border-radius: 4px;
     border: 1px solid #cccccc;
     background: #fff;
     min-height: 775px;
}