<div class="row">
    <div class="col-4 content" *ngFor="let file of files; let i = index">
        <div class="col-12 file_content">
            <ng-container *ngIf="!file?.id; else:filesContent">
                <div class="upload_content"  >
                    <input type="file" class="d-none" [id]="'file_' +  i"  
                    accept="image/* , video/*" (change)="uploadFile($event , i)">
                    <label [for]="'file_' +  i" class="upload_content_btn">Upload</label>
                </div>
            </ng-container>
    
            <!-- Loader -->
            <div class="progress" *ngIf="file?.status === 'progress' ">
                <div  [style.width]="file?.progress + '%' "  class="progress-bar"></div>
            </div>
            <!-- Loader -->

            <ng-template #filesContent>
               

               <app-file-container [file]="file"></app-file-container>

               <button class="btn remove" type="button" (click)="removeFile(file)">X</button>
               
            </ng-template> 
        </div>
    </div>

    <div class="error_message ml-4" *ngIf="errors">
        <ng-container *ngIf="errors['video']">Video max size is 25 MB</ng-container>
        <ng-container *ngIf="errors['image']">Image max size is  5 MB</ng-container>
    </div>
  </div>