<label class="title-label">Organic</label>
<div class="mt-1 d-flex custom-radio-input-god">
        <div class="mt-2">
            <input  type="radio" id="organic"  [formControl]='orgCtrl' class="d-none" name="orgCtrl" value="organic">
            <label for="organic" 
                   class="btn btn-light-dark mr-3">Yes</label>
        </div>

        <div class="mt-2">
            <input  type="radio" id="No"   [formControl]='orgCtrl' class="d-none" name="orgCtrl" value="No">
            <label for="No" 
                   class="btn btn-light-dark mr-3" >No</label>                
        </div>
</div>
