<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Project Type</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__project-type-options find-work__sidebar-section__wrap">
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="one-time">
      <label class="custom-control-label write-a-review-label reviews-label" for="one-time">One Time Project</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ongoing">
      <label class="custom-control-label write-a-review-label reviews-label" for="ongoing">On-going Project </label>
  </div>
</div>