<!--  Job  -->

<div class="dark-blue-bg-for-jobs">
    <div class="background-content-wrap post">
      <div class="profile container">
        <div class="row">
          <div class="col-md-9">
            <h1>{{ headTitle }}</h1>
          </div>
          <div class="col-md-3">
            <div class="d-flex align-items-center" style="height: 100%;" *ngIf="headTitle === 'Find the job of your dream'">
              <a href="#" class="a-blue a-left">Dashboard</a>
              <span class="post__service">Post a Service</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Job -->