<div class="add-location">
    <div class="mobile-modal">
        <app-location-form type="location" [data]="data" ></app-location-form>
    </div>
    <div class="d-flex justify-content-end mobile-button" style="padding: 0 31px;">
        <button *ngIf="data" class="save-and-add backgroundless btn" (click)="removeLocation()" >{{  '1185' | translate  }}</button>
        <button *ngIf="!data" class="save-and-add backgroundless btn" (click)="submit(true)" > {{  '1233' | translate  }}</button>
        <button class="btn btn-primary ml-3" (click)="submit()"> {{  '1231' | translate  }}</button>
    </div>
</div>
