<div class="form" style="position: relative;">
        <ng-template #component></ng-template>
        <div class="mt-4" style="bottom: 37px; position: absolute; left: 10px;">
                <div class="custom-control custom-checkbox d-inline-block mr-3 mb-2  checkbox-home">

                        <input class="custom-control-input" 
                                type="checkbox" 
                                id="propery" 
                                name="home"
                                [formControl]="hasReppositoryPropert">

                        <label class="custom-control-label pl-3" 
                                for="propery" 
                                style="color: #808080;">Repossessed property</label>
                                
                </div>
        </div> 
</div>        
