@import 'src/variables';

.heading {
    font-weight: 300;
}
.incrase-exposure {
    border: 1px solid $light-grey;
    padding: 10px 15px;
    border-radius: 4px; 
    margin-top: 15px;
} 
.mt-3 :first-child {
    label {
        background: $dark-blue;
        color: white;
        padding: 5px 10px;
        margin-left: 10px;
        border-radius: 8px;
        font-size: .9rem;
    }
    span {
        margin-left: 10px;
        color: $background-dark-cyan;
        padding-top: 3px;
    }
 
};

