<div class="container">
        <div class="row">
            <div class="all-categories mt-3 col-12">
                <div class="title col-12">
                    <h4>All Categories</h4>
                </div>
                <hr>
                <div class="all-categories-title programming col-12 d-flex">
                    <img src="../../assets/img/services/landing-page/landing-page-icons/475.svg" alt="">
                    <p>Programming & Tech</p>
                </div>
                <div class="all-categories-content row p-3">
                    <div class="col-md-4">
                        <p>Android Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>API Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>CSS Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Facebook API Developers</p>
                    </div>
                    <div class="col-md-4">
                        <p>HTML Programmers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>HTML5 Programmers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>IOS Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Java Programmers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>JavaScript Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>MySQL Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>PHP Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Python Programmers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>SQL Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>WordPress Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Web Designers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Web Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Software Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Mobile App Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>NET Developers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>C Programmers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>ASP.NET Programmers</p>
                    </div>
                </div>
              <hr>
              <div class="all-categories-title design col-12 d-flex">
                    <img src="../../assets/img/services/landing-page/landing-page-icons/476.svg" alt="">
                    <p>Graphics & Design</p>
                </div>
                <div class="all-categories-content row p-3">
                    <div class="col-md-4">
                        <p>Artists</p>
                    </div>
                    <div class="col-md-4">
                        <p>Drawing Artists </p>
                    </div>
                    <div class="col-md-4">
                        <p>Layout Designers </p>
                    </div>
                    <div class="col-md-4">
                        <p>Report Designers </p>
                    </div>
                    <div class="col-md-4">
                        <p>T-Shirt Designers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Character Designers</p>
                    </div>
                    <div class="col-md-4">
                        <p>3D Printing</p>
                    </div>
                    <div class="col-md-4">
                        <p>3D Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Ad Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Brand Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Graphic Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Interaction Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Logo Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Print Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>UX Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Visual Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Web Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>WordPress Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Animation</p>
                    </div>
                    <div class="col-md-4">
                        <p>User Experience Research</p>
                    </div>
                    <div class="col-md-4">
                        <p>Video Editing</p>
                    </div>
                    <div class="col-md-4">
                        <p>Videography</p>
                    </div>
                    <div class="col-md-4">
                        <p>Video Editing</p>
                    </div>
                    <div class="col-md-4">
                        <p>Illustration</p>
                    </div>
                    <div class="col-md-4">
                        <p>Interior Design</p>
                    </div>
                    <div class="col-md-4">
                        <p>Industrial Design</p>
                    </div>
                </div>
              <hr>
              <div class="all-categories-title writing-translation programming col-12 d-flex">
                    <img src="../../assets/img/services/landing-page/landing-page-icons/477.svg" alt="">
                    <p>Writing & Translation</p>
                </div>
                <div class="all-categories-content row p-3">
                    <div class="col-md-4">
                        <p>Translators Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Writers Freelancers </p>
                    </div>
                    <div class="col-md-4">
                        <p>Article Writers Freelancers </p>
                    </div>
                    <div class="col-md-4">
                        <p>Content Writers Freelancers </p>
                    </div>
                    <div class="col-md-4">
                        <p>Creative Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Editors Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Blog Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Copywriters Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Proofreaders Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Book Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>English Translators Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>French Translators</p>
                    </div>
                    <div class="col-md-4">
                        <p>Spanish Translators Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>German Translators Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Chinese Translators Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Content Managers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>E-Book Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>English Grammar Expert Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Medical Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Ghost Writers Freelancers</p>
                    </div>
                    <div class="col-md-4">
                        <p>Publishers Freelancers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>