<app-common-header-land-pages></app-common-header-land-pages>
<main>
    <div class="dark-blue-bg-for-network">
        <div class="background-content-wrap">
            <h1>Find the right candidates </h1>
        </div>
    </div>

    <section class="demo_jobs-works">
        <div class="demo_jobs-works-cont">
            <h2 class="demo-simple-title"> {{ '720' | translate }}</h2>
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1353' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1151' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '402' | translate }}
            </div>
        </div>
        <div class="demo_jobs-works-img">
            <img src="./assets/img/other-pages/Company-profile-1.png" alt="img" class="big">
            <img src="./assets/img/other-pages/Company-profile-2.png" alt="img" class="small">
            <img src="./assets/img/other-pages/Company-profile-3.png" alt="img" class="medium">
        </div>
    </section>

    <section class="demo_jobs-post">
        <div class="demo_jobs-post-img">
            <img src="./assets/img/other-pages/company-post-a-job.png" alt="img" class="big">
            <img src="./assets/img/other-pages/901.svg" alt="img" class="small">
        </div>
        <div class="demo_jobs-post-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1354' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1020' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1216' | translate }}
            </div>
        </div>
    </section>

    <section class="demo_jobs-search">

        <div class="demo_jobs-search-cont">

            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1355' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1252' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '261' | translate }}
            </div>

        </div>
        <div class="demo_jobs-search-img">
            <img src="./assets/img/other-pages/company-search-for-candidates.png" alt="img" class="big">
            <img src="./assets/img/other-pages/902.svg" alt="img" class="small">
        </div>

    </section>

    <section class="demo_jobs-invite">
        <img src="./assets/img/other-pages/company-invite-to-apply.png" alt="img" class="demo_jobs-invite-img">
        <div class="demo_jobs-invite-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1356' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '738' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1590' | translate }}
            </div>
        </div>
    </section>

    <section class="demo_jobs-manage">
        <div class="demo_jobs-manage-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1357' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1380' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1620' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/company-manage-applicants.png" alt="img" class="demo_jobs-manage-img">
    </section>

    <section class="demo_jobs-promote">
        <div class="demo_jobs-promote-img">
            <img src="./assets/img/other-pages/company-promote-jobs-2.png" alt="img" class="small">
            <img src="./assets/img/other-pages/Company-promote-jobs-1.png" alt="img" class="big">
        </div>
        <div class="demo_jobs-promote-cont">
            <div class="demo-cyan-step">
                <img src="./assets/img/223.svg" alt="ico">
                <span>{{ '1358' | translate }}</span>
            </div>
            <h1 class="demo-above-title">{{ '1022' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1157' | translate }}
            </div>
        </div>
    </section>

    <section class="demo-foot">
        <h1 class="demo-above-title">{{ '947' | translate }}</h1>
        <a class="btn btn-primary-demo" (click)='rederictTo()'>{{ '1077' | translate }}</a>
    </section>

</main>