<div class="search-groups__sidebar-section">
    <app-search-column-header title="Date Posted">
        <div class="mt-2">
            <div class="search-groups__sidebar-section__delivery-time-options search-groups__sidebar-section__wrap">
                <form [formGroup]="form">
                    <div class="
                        custom-control 
                        custom-radio 
                        page-section-text-grey
                        " *ngFor="let postedDate of postedDates">
                        <input   type="radio" class="custom-control-input" [id]="postedDate.id" [value]="postedDate.id" name="date_posted" formControlName="date_posted">
                        <label class="custom-control-label" [for]="postedDate.id">
                            {{ postedDate.name  }}
                        </label>
                    </div>
                </form>

            </div>
        </div>
    </app-search-column-header>
</div>