@import 'src/variables';

:host ::ng-deep app-file-container.more_image_first{
    img , video{
        // height: 374px !important;
        min-height: unset;
        max-height: unset;
    }
}

:host ::ng-deep app-file-container {
    .not__file {
        img , video {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

.files_more {
    background: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color:#fff;
}