<div class="tasks-popover"> 
  <div class="mb-3">
    <div class="tasks-popover__heading position-relative">
      <span class="tasks-popover__heading__icon tasks-popover__heading__task-icon"></span>
      <div>
        <h4 class="tasks-popover__heading__title">Pay rent for apartment</h4>
        <span class="tasks-popover__heading__date">Every month on the 18th, until Dec 20, 2019</span>
      </div>
      <button class="btn close-btn"></button>
    </div>
    <div class="d-flex align-items-center">
      <span class="tasks-popover__heading__icon tasks-popover__heading__reminder-icon"></span>
      <span class="tasks-popover__heading__date">1 day before at 9:00 am </span>
    </div>
  </div>
  <footer class="tasks-popover__footer d-flex align-items-center justify-content-between">
    <div>
      <button class="backgroundless p-0">Mark as done</button>
    </div>
    <div class="tasks-popover__footer__options">
      <button class="backgroundless py-0 tasks-popover__footer__options__edit">
        
      </button>
      <button class="backgroundless py-0 tasks-popover__footer__options__delete">
        
      </button>
      <button class="backgroundless py-0 tasks-popover__footer__options__more">
  
      </button>
    </div>
  </footer>
</div>
