<div class="center-content p-0 col-12">
    <div class="member-requests-content justify-content-between p-3 col-12">
        <div class="member-requests-content__title col-12 mt-3 mb-4">
            <h4>Member Requests 5</h4>
        </div>
        <div class="member-requests-content__check-all col-12">
            <div class="form-check custom-control custom-checkbox i-currently d-flex">
                <input class="custom-control-input" type="checkbox" value="true" id="certification">
                <label class="custom-control-label" for="certification"></label>
                <a class="more" href="#">▾</a>
                <div class="options d-block p-0" style="width: 9.375rem; top: 2rem; left: 0;">
                    <a class="btn more">People</a>
                    <a class="btn more">Companies</a>
                    <a class="btn more">Organization</a>
                    <a class="btn more">Local Businesses</a>
                    <a class="btn more">Brands</a>
                </div>
                <div class="actions d-flex">
                    <div class="approve d-flex pr-3">
                        <a href="#">
                            <img src="../../../assets/img/accept.svg" alt="">
                            Approve</a>
                    </div>
                    <div class="decline d-flex">
                        <a href="#">
                            <img src="../../../assets/img/decline.svg" alt="">
                            Decline
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="member-requests-content__user d-flex col row m-0 pr-0">
            <div class="member-requests-content__user__checkbox mt-4">
                <div class="form-check custom-control custom-checkbox i-currently">
                    <input class="custom-control-input" type="checkbox" value="true" id="certification1">
                    <label class="custom-control-label" for="certification1"></label>
                </div>
            </div>
            <div class="member-requests-content__user__avatar ml-2 mr-2 d-flex justify-content-center col-lg-1">
                <img class="user-avatar" src="../../../assets/img/skill.jpg" alt="">
                <!-- <img class="company-avatar" src="../../../assets/img/skill.jpg" alt=""> -->
            </div>
            <div class="member-requests-content__user__name col-lg-2 mt-2">
                <p>Amelia Bennett</p>
                <span>Project Manager</span>
                <span>Deloitte</span>
            </div>
            <div class="member-requests-content__user__info col-lg-5 mt-2">
                <div class="mb-2">
                    <span>Requested on April 14, 2019 at 10:05 am</span>
                </div>
                <!-- <br> -->
                <span>14 Connections in this group</span>
            </div>
            <div class="member-requests-content__user__settings pr-0 col-lg-3">
                <a href="#">
                    <img src="../../../assets/img/107.svg" alt="">
                </a>
                <div class="member-requests-content__user__settings__buttons  mt-5 d-flex">
                    <button class="btn btn-secondary">Decline</button>
                    <button class="btn btn-primary ml-2">Approve</button>
                </div>
            </div>
        </div>
        <hr>