<div class="search-bar p-3">
    <div class="search-bar__search d-flex">

        <div class="search-bar__search__keyword col-md-11">
            <input type="text" class="form-control" placeholder="Enter keyword">
        </div>
        <div class="search-bar__search__button col-md-1 d-flex justify-content-end ml-3">
            <button class="btn btn-primary"> Search </button>
        </div>

    </div>

    <div class="search-bar__keywords col-12 mt-2 d-flex">
        <button class="btn btn-secondary"> {{ keyWord }} </button>
        <span class="ml-3">Clear Filters</span>
    </div>
    
    <div class="search-bar__filters col-12 d-flex justify-content-end">
        <div class="search-bar__filters__saved d-flex pr-4">
            <img class="mr-2" src="assets/img/44.svg" alt="like">
            <span>Saved this Filters</span>
        </div>
        <div class="search-bar__filters__saved-filters d-flex">
            <span>Saved Filters</span>
            <img class="ml-2" src="assets/img/down-grey.svg" alt="down-arrow">
        </div>
    </div>
</div>