<div class="add-service d-flex justify-content-center mt-3">
    <div class="add-service__box col-12 d-flex justify-content-center align-items-center p-4">
        <div class="add-service__box__circle d-flex justify-content-center align-items-center mr-3">
            <a class="d-flex justify-content-center align-items-center" [routerLink]="[ '/services/requests/post-service-request' ]">
                <img src="assets/img/50.svg" alt="">
            </a>
            
        </div>
        <div class="add-service__box__title">
            <a [routerLink]="[ '/services/requests/post-service-request' ]">Add a Service Request</a>
        </div>
    </div>
</div>