<app-common-header-land-pages></app-common-header-land-pages>
<main>
    <div class="dark-blue-bg-for-network">
        <div class="background-content-wrap">
            <h1> {{ '697' | translate }}</h1>
        </div>
    </div>



    <section class="demo_net-grow">
        <div class="demo_net-grow-cont">
            <h2 class="demo-simple-title"> {{ '697' | translate }}</h2>

            <h1 class="demo-above-title"> {{ '1224' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '759' | translate }}
            </div>
            <h3 class="demo-above-title"> {{ '739' | translate }}</h3>
            <div class="demo-gray-text">
                {{ '1276' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/network_1.png" alt="img" class="demo_net-grow-img">
    </section>



    <section class="demo_net-visit">
        <img src="./assets/img/other-pages/network_2.png" alt="img" class="demo_net-visit-img">
        <div class="demo_net-visit-cont">
            <h1 class="demo-above-title"> {{ '1485' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1524' | translate }}
            </div>
        </div>
    </section>


    <section class="demo_net-search">
        <div class="demo_net-search-cont">

            <h1 class="demo-above-title"> {{ '1454' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1473' | translate }}
            </div>
            <h2 class="demo-above-title"> {{ '599' | translate }}</h2>
            <div class="demo-gray-text">
                {{ '631' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/network_3.png" alt="img" class="demo_net-search-img">
    </section>


    <section class="demo_net-manage">
        <img src="./assets/img/other-pages/network_4.png" alt="img" class="demo_net-manage-img">
        <div class="demo_net-manage-cont">
            <h2 class="demo-simple-title"> {{ '889' | translate }}</h2>

            <h1 class="demo-above-title"> {{ '986' | translate }}</h1>
            <div class="demo-gray-text">
                {{ '1586' | translate }}
            </div>
            <h3 class="demo-above-title"> {{ '886' | translate }}</h3>
            <div class="demo-gray-text">
                {{ '1591' | translate }}
            </div>
        </div>
    </section>



    <section class="demo_net-comun">
        <div class="demo_net-comun-cont">

            <h1 class="demo-above-title"> {{ '265' | translate }} </h1>
            <div class="demo-gray-text">
                {{ '326' | translate }}
            </div>
        </div>
        <img src="./assets/img/other-pages/messaging_1.png" alt="img" class="demo_net-comun-img">
    </section>


    <section class="demo-foot">
        <h1 class="demo-above-title"> {{ '268' | translate }}</h1>
        <a class="btn btn-primary-demo" (click)='clickRedericTo()'> {{ '673' | translate }}</a>
    </section>


</main>