.center-heading {
    padding-bottom: 22px;
}
.network-boxes-container{
    span {
        padding: 3px !important;
    }

}

.options.blocks-option {
    top: 28px !important;
    right: 0px !important;
    left: unset !important;
    transform: none !important;
}
 