<app-dream-job [title]='"REAL ESTATE"'></app-dream-job>

<div class="container-fluid " style="width: 80%;">
    <div class="row pb-5 mt-2" *ngIf="!isLoading; else loading">
        <div class="col-md-10  p-0 mb-3">
           <div class="details">
                <div class="details__content__title col-12">
                        <!-- <div class="col-md-6"> -->
                            <div class="w-100 d-flex justify-content-between">
                                <h2>{{ post.info.detail.title }}</h2>
                                <span>{{ postedDate }} </span>
                            </div>
                            <div class="d-flex" *ngIf="post.common.location.city && 
                                                         post.common.location.country ">
                                <img src="assets/img/24.svg" alt="location" >
                                <span class="ml-3">{{ post.common.location.country | country }}, 
                                                   {{ post.common.location.city }}  
                                </span>
                            </div>
                        <!-- </div> -->       
                    </div> 
                    <div class="row p-4">

                        <div class="details__photo-gallery  col-9 p-0" *ngIf="post.common.files.length">
                            <app-service-slider-edition-two [files]='post.common.files'></app-service-slider-edition-two>
                            <div class="details__content row p-3">
                                    <div class="details__content__description col-lg-9">
                 
                                        <div class="details__content__description__text w-100 mt-4">
                                            <p> {{ post.info.detail.description }} </p>
                                        </div>
                                    </div>
                 
                                </div>
                        </div>
                        <div class="col-lg-3 d-print-none" >
                             <div class="box">
                                 <h3 class="price"> {{ post.common.price.fix_price + ' ' + post.common.price.currency}} </h3>
                             </div>
                             <div class="features box">
                                 <h6 class="features-title"> Pet Feature </h6>
                                 <p class="d-flex justify-content-between">
                                     <span>Lorem</span>
                                     <span>1000</span>
                                 </p>
                                 <p class="d-flex justify-content-between">
                                      <span>Lorem</span>
                                      <span>1000</span>
                                  </p>
                                  <p class="d-flex justify-content-between">
                                      <span>Lorem</span>
                                      <span>1000</span>
                                  </p>
                                  <p class="d-flex justify-content-between">
                                      <span>Lorem</span>
                                      <span>1000</span>
                                  </p>
                             </div>
                             <div class="counter-offer py-3">
                                  <div class="counter-offers">
                                          <div class="counter-offers__alert d-flex justify-content-between p-3">
                                              <span >Recieve an alert</span>
                                              <div class="" style="position: absolute; right: 3rem;">
                                                      <label class="switch ml-2">
                                                          <input type="checkbox" 
                                                                 [ngClass]="{ 'has_reppossed': post.common.is_me }"
                                                                 [ngModel]="post.common.has_subscribed"
                                                                 (change)="subscribe(post.common.has_subscribed)" ><span class="slider round"></span>   
                                                      </label>
                                              </div>
                                          </div>
                                      
                                          <div class="counter-offers__offer p-3"
                                               [ngClass]="{ 'has_reppossed': post.common.has_offered || post.common.is_me }">
                                      
                                              <p>Make a counter offer</p>
                                              
                                              <div class="d-flex align-items-center">
                                                  <input type="number"
                                                         class="form-control" 
                                                         placeholder="Enter price or price range" 
                                                         [(ngModel)]="price" >
                                                  <button class="btn btn-primary ml-2" (click)='makeCounterOffer()' [disabled]="!price">Send</button>
                                              </div>
                                          </div>
                                      
                                      </div>
                             </div>
         
                             <div class="author-details mt-3 p-3">
                                      <app-pet-details-author [profile]='profile'></app-pet-details-author>
                             </div>
                             
                             <div class="author__actions mt-3 row">
                                 
                                 <div class="col-md-4 d-flex">
                                     <img class="mr-2" [src]="post.common.has_liked  ? 'assets/img/99.svg' : 'assets/img/98.svg' " alt="">
                                     <span *ngIf="post.common.has_liked">Saved</span>
                                 </div>
         
                                 <div class="col-md-4 d-flex">
                                     <img class="mr-2" src="assets/img/84.svg" alt="">
                                     <span>Share</span>
                                 </div>
                                 <div class="col-md-4 d-flex">
                                     <img class="mr-2" src="assets/img/625.svg" alt="">
                                     <span (click)='print()'>Print</span>
                                 </div>
                                 <div class="col-12 d-flex justify-content-end mt-2">
                                     <div class="" style="border-right: 1px solid grey; padding-right: .5rem; ">
                                         <p class="m-0">21,542 view</p>
                                     </div>
                                     <div class="ml-2">
                                         <p class="m-0">2 share</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    </div> 

           </div>
            
            <!-- <div class="similar-posts  d-print-none mt-3">
                <h4 style="font-weight: lighter; padding-left: 17px; padding-top: 10px; "> Similar posts </h4>
                    <div style="position: relative;">
                        <app-slider-bad-boy-edition [amount]='4' *ngIf="slider.length > 0"> 
                                <div class="row flex-nowrap">
                                    <div class="col-3" *ngFor="let slide of slider">
                                             <app-box-slider [slide]='slide'></app-box-slider>
                                    </div>
                                </div>
                            
                        </app-slider-bad-boy-edition>
                            
                            <div class="arrow-left" (click)='rotateLeft()'>
                                <img src="assets/img/509.svg" alt="arrow-left">
                            </div> 
                            
                            <div class="arrow-right" (click)='rotateRight()'>
                                <img src="assets/img/508.svg" alt="arrow-rigt">
                            </div>
                        
                    </div>
                        
            </div> -->
            
        </div>  
        <!--  * * *  Languages Bar * * *  -->
        <div class="ads d-print-none col-md-2">
            <app-user-profile-landing-languages></app-user-profile-landing-languages>
        </div>

    </div>
    <ng-template #loading>
        <div class="d-flex justify-content-center">
              <app-spinner></app-spinner>
        </div>
    </ng-template>
    
</div>