<div class="find-work__sidebar__heading">
  <h4 class="page-section-text-blue mb-0">Location</h4>
  <div>
      <span class="find-work__sidebar__heading__caret find-work__sidebar__heading__caret--up"></span>
  </div>
</div>
<div class="find-work__sidebar-section__location-options find-work__sidebar-section__wrap">
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="responsive">
      <label class="custom-control-label write-a-review-label reviews-label" for="responsive">Remote</label>
  </div>
  <div class="form-check custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="documentations">
      <label class="custom-control-label write-a-review-label reviews-label" for="documentations">On-site work </label>
  </div>
</div>
<div  class="find-work__sidebar-section__location">
  <div class="d-flex justify-content-between align-items-center">
      <div class="input-container">
          <input type="text" placeholder="Enter location" class="form-control">
      </div>
      <div>
          <img src="../assets/img/147.svg" class="find-work__sidebar-section__location__img"/>
      </div>
  </div>
</div>