<form autocomplete="off" style="position: relative">
    <app-status-home></app-status-home>
    
    <div class="mt-4">
        <app-total-area></app-total-area>
    </div>
    
    <div class="mt-4">
        <app-avilability-home></app-avilability-home>
    </div>
    
    <div class="mt-4">
        <app-more-information></app-more-information> 
    </div>
    
    <div class="col-8 pl-0">
        <app-basic-information></app-basic-information>
    </div>

    <div class="mt-3">
            <div class="d-flex justify-content-between mt-5">
                    <button class="btn  backgroundless" (click)='goBack()'>
                        Back</button>
                    <button class="btn btn-primary" (click)='logValue()'>
                        Next</button>
            </div>
    </div>


</form>