@import 'src/variables';

.custom-radio-control {
    display: inline-block;
    width: 161px;
}
label {
    color:$dark-grey;
 }
:host ::ng-deep .ngb-dp-weekday {
   color: #808080 !important;   
   font-style: unset;
   border-radius: 5px;
}

:host ::ng-deep .ngb-dp-week {
    background: white !important;
}
:host ::ng-deep .ngb-dp-header {
    background: white !important;
}
:host ::ng-deep .dropdown-menu {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}